/*
https://coolors.co/17bebb-ffc914-fb5f1a-2e282a-76b041
https://coolors.co/17bebb-ffc914-fb5f1a-D62828-76b041
https://coolors.co/76b041-087E8B-e57c04-fb5f1a-d62828
https://coolors.co/087e8b-e57c04-fb5f1a-d62828-5e2f63
https://coolors.co/0baabc-e57c04-fb5f1a-d62828-7b3d82
*/
/* GENERAL STYLES */
html,
body {
  height: 100%;
  width: 100%; }

h1 {
  font-size: 2em;
  margin-bottom: .5em; }

h2 {
  font-size: 1.7em;
  font-weight: 100; }

h3 {
  font-size: 1.4em; }

h3,
h4 {
  color: #bdbdbd; }

h1 .zmdi,
h2 .zmdi {
  margin-right: .3em; }

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #F0F0F0;
  background: #202020;
  overflow: hidden;
  min-height: 100%;
  margin: 0; }

section {
  margin: 1em 0; }

a {
  color: #F0F0F0; }

a:hover {
  color: inherit;
  text-decoration: none; }

iframe {
  border: none; }

.no-margin {
  margin: 0; }

.no-margin-top {
  margin-top: 0; }

.collapsed {
  display: none; }

.text-center {
  text-align: center; }

.pull-center {
  margin-left: auto;
  margin-right: auto; }

.accent-fill {
  fill: #F27200; }

.accent-background {
  background: #F27200; }

.accent-color {
  color: #F27200; }

.translucent {
  opacity: .5; }

.msg-error {
  display: block;
  width: 100%;
  background: #E71D36;
  color: #FFFFFF;
  padding: 1em;
  margin: 0; }

.msg-error label {
  color: rgba(255, 255, 255, 0.7); }

.animate-show {
  line-height: 1em;
  opacity: 1;
  padding: 10px; }

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px; }

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  transition: 0s linear all; }

.animate-show.ng-hide-add-active,
.animate-show.ng-hide-remove-active {
  transition: 1s linear all; }

.tooltip > .tooltip-inner {
  background-color: #EEEEEE;
  color: black; }

.tooltip.top .tooltip-arrow {
  border-top-color: #EEEEEE; }

.tooltip.top-left .tooltip-arrow {
  border-top-color: #EEEEEE; }

.tooltip.top-right .tooltip-arrow {
  border-top-color: #EEEEEE; }

.tooltip.right .tooltip-arrow {
  border-right-color: #EEEEEE; }

.tooltip.left .tooltip-arrow {
  border-left-color: #EEEEEE; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #EEEEEE; }

.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #EEEEEE; }

.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #EEEEEE; }

textarea.disabled,
input.disabled,
.btn.disabled {
  opacity: .5;
  cursor: default; }

.btn-default {
  border: none !important;
  border-radius: 0;
  background: #303030;
  color: #bdbdbd;
  padding: 7px 10px;
  margin: 0 10px 0 0;
  outline: none;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: all linear .2s;
  min-width: 100px; }

.btn-default .zmdi {
  padding: 0px 3px; }

.btn {
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.padding-sm {
  padding: 3px 6px; }

button:hover,
.btn:hover,
.btn-default:hover {
  background: rgba(48, 48, 48, 0.4);
  color: #F0F0F0 !important; }

button:active,
button:focus,
.btn:active,
.btn:focus {
  background: rgba(48, 48, 48, 0.4);
  color: #F0F0F0;
  outline: none !important; }

.btn-info {
  background: #00A7E4;
  color: #FFFFFF;
  border: none;
  border-radius: 2px; }

.btn-success {
  color: #FFFFFF !important;
  background: #F27200 !important;
  border: none;
  transition: all linear .2s;
  text-shadow: none; }

.btn-success:hover {
  background: #ff7f0d !important; }

.btn-chromeless {
  background: transparent;
  color: #bdbdbd !important;
  transition: color linear .2s; }

.btn-chromeless:hover {
  color: #F0F0F0 !important;
  background: transparent; }

.btn-sm {
  width: 30px;
  height: 30px;
  padding: 5px 10px; }

.btn-lg {
  width: 90px;
  height: 90px; }

.btn-md,
.btn-icn {
  padding: 0;
  font-size: 21px;
  font-weight: 100;
  width: 45px;
  height: 45px; }

.btn-icn .zmdi {
  margin: 0; }

.btn-header {
  margin: 0 !important;
  min-width: 45px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  background: none;
  color: #bdbdbd; }

.btn-header.btn-text {
  padding: 0 15px !important; }

.circular,
.btn-circular {
  border-radius: 50%;
  width: 45px;
  height: 45px; }

.btn-paging {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px; }

.btn-paging.btn-next {
  right: 0; }

.btn-paging.btn-prev {
  left: 0; }

.btn .btn-label {
  margin-left: 5px; }

.nav-tabs {
  border: none;
  margin: 0; }

.nav-tabs li a {
  border-radius: 0;
  border: none;
  border-bottom: 3px solid transparent;
  color: #bdbdbd;
  text-transform: uppercase;
  transition: all .1s linear;
  padding: .6em 1em; }

.nav-tabs.nav-tabs-top li a {
  border-bottom: 0;
  border-top: 2px solid transparent; }

.nav-tabs.nav-tabs-top li a:hover {
  border-top: 2px solid #F0F0F0; }

.nav-tabs.nav-tabs-top li.active a,
.nav-tabs.nav-tabs-top li.active a:hover {
  border: none;
  border-top: 2px solid #F27200;
  color: #F0F0F0; }

.nav-tabs li a:hover {
  border-bottom: 2px solid #F0F0F0;
  background: transparent;
  color: #F0F0F0;
  cursor: pointer; }

.nav-tabs li.active a,
.nav-tabs li.active a:hover {
  border: none;
  border-bottom: 2px solid #F27200;
  background: transparent;
  color: #F27200; }

.nav-tabs.nav-stacked li a {
  border: none;
  border-left: 1px solid transparent;
  margin: 0;
  text-transform: none; }

.nav-tabs.nav-stacked li.active a,
.nav-tabs.nav-stacked li.active a:hover {
  border: none;
  border-left: 1px solid #F27200 !important;
  color: #F0F0F0;
  background: #F27200; }

.center-parent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  text-align: center; }

.list-view {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 3px; }

.list-item {
  display: table-row;
  vertical-align: middle;
  color: #F0F0F0;
  background: rgba(240, 240, 240, 0.025); }

.list-item:hover {
  color: #F0F0F0;
  background: rgba(240, 240, 240, 0.05); }

.list-item .col {
  display: table-cell; }

.list-item .col h5 {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #e3e3e3;
  font-size: 15px; }

.list-item .col label {
  margin: 0; }

.list-item .col.expand {
  width: 100%; }

.list-item .col.disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%); }

.list-item .col-icn {
  vertical-align: middle;
  text-align: center;
  min-width: 48px; }

.list-item .col-icn-lg {
  min-width: 64px; }

.list-item .col-icn i {
  display: block;
  width: 100%;
  font-size: 30px;
  line-height: 100%;
  border: none;
  margin: 0; }

.list-item .col button {
  background: transparent;
  color: #bdbdbd; }

.label,
.text-label {
  color: #bdbdbd; }

.icn {
  width: 20px;
  height: 20px;
  background: #303030;
  line-height: 20px;
  vertical-align: middle; }

.icn-circle {
  border-radius: 50%; }

.icn-transparent {
  background: transparent; }

.icn-container-lg {
  display: inline-block;
  text-align: center;
  width: 30px; }

.zmdi-sm {
  display: inline-block;
  font-size: 20px;
  width: 26px;
  height: 20px;
  line-height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle; }

.zmdi-lg {
  font-size: 24px !important;
  line-height: 24px;
  vertical-align: middle; }

.account,
.ok {
  font-size: 21px;
  text-shadow: none;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0 5px;
  outline: none;
  box-shadow: none; }

h4 {
  font-size: 1.1em; }

.subline {
  margin: .5em 0 2em 0; }

/* HEADER */
.toolbar {
  display: table-row;
  background: #303030;
  color: #F0F0F0; }

.header {
  background: #303030;
  color: #d7d7d7 !important;
  padding: 3em 0; }

.header .header-border-container {
  padding-bottom: 0;
  border-bottom: 2px solid #F27200 !important; }

.footer .toolbar a.btn i {
  font-size: 20px !important; }

/* BODY */
#canvas {
  padding: 0;
  width: 100%;
  height: 100%; }

.ui-resizable {
  position: relative; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block; }

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0; }

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0; }

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%; }

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px; }

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px; }

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px; }

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px; }

.ui-pane-container {
  display: table !important; }

.ui-pane {
  background: #202020;
  display: table-cell; }

.ui-pane.ui-pane-center {
  position: relative; }

.ui-pane.ui-pane-left {
  width: 370px;
  border-right: 1px solid rgba(255, 255, 255, 0.025); }

.ui-pane.ui-pane-right {
  width: 300px;
  border-left: 1px solid rgba(255, 255, 255, 0.025); }

.ui-pane .tab-content {
  overflow-y: scroll;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0; }

.ui-pane .tab-content.nav-stacked {
  top: 0; }

.ui-pane .tab-pane {
  margin: 0;
  padding: 0; }

.ui-pane .pane-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.scroll-vertical {
  overflow-y: scroll; }

.layout-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.layout-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }

.table-layout {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

.table-layout.spacing-xs {
  border-collapse: separate;
  border-spacing: 5px; }

.table-layout.spacing-md {
  border-collapse: separate;
  border-spacing: 15px; }

.table-layout.spacing-xl {
  border-collapse: separate;
  border-spacing: 30px; }

.table-layout .row {
  display: table-row;
  position: relative;
  margin: 0;
  padding: 0; }

.table-layout .row.expand {
  height: 100%;
  overflow: hidden; }

.table-layout .col {
  display: table-cell;
  position: relative;
  margin: 0;
  padding: 0; }

.table-layout .col.expand {
  width: 100%; }

.scroll-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.scroll-container.layout-fix {
  padding-left: 16px; }

.scroll-container.scroll-x {
  overflow-x: scroll !important; }

.scroll-container.scroll-y {
  overflow-y: scroll !important; }

.padding-xs.padding-x {
  padding-left: 5px;
  padding-right: 5px; }

.padding-md.padding-x {
  padding-left: 15px;
  padding-right: 15px; }

.padding-xl.padding-x {
  padding-left: 30px;
  padding-right: 30px; }

.padding-xs.padding-y {
  padding-top: 5px;
  padding-bottom: 5px; }

.padding-md.padding-y {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-xl.padding-y {
  padding-top: 30px;
  padding-bottom: 30px; }

/* FOOTER */
.statusbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.statusbar {
  min-height: 1em;
  background: #202020; }

/* TOOLBARS */
.toolbar {
  display: table;
  text-align: center;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  position: relative;
  height: 45px;
  padding: 0;
  margin: 0; }

.toolbar.hidden {
  max-height: 0; }

.toolbar.visible {
  max-height: 99999px; }

.toolbar .title {
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 0 5px;
  padding: 0;
  position: relative;
  top: 2px; }

.toolbar .btn {
  background: transparent;
  color: rgba(240, 240, 240, 0.6);
  border-radius: 0 !important;
  border: none;
  padding: 0;
  margin: 0;
  transition: all .2s linear; }

.toolbar .btn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #f0f0f0; }

.toolbar .btn i.zmdi {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 21px;
  text-align: center; }

.toolbar .btn .btn-label {
  line-height: 45px;
  vertical-align: middle;
  margin: 0 5px; }

.toolbar .icn,
.toolbar .icn {
  width: 32px;
  height: 32px; }

.toolbar .icn-circle,
.toolbar .icn-circle {
  border-radius: 50%; }

.btn-toggle-play {
  font-size: 30px !important; }

/* ACTIVITIES CHART */
svg {
  padding: 0;
  margin: 0; }

.timeline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.timeline .track-col {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 0;
  bottom: 0;
  background: transparent; }

.timeline .track-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.timeline .track,
.timeline .track-preview,
.timeline .track-indicator {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%; }

.timeline .track {
  background: #202020;
  z-index: 0; }

.timeline .track-preview {
  width: 0px;
  height: 4px;
  background: #bdbdbd;
  z-index: 5;
  transform: translateY(-1px); }

.timeline .track-indicator {
  width: 50%;
  background: #F27200;
  z-index: 10; }

.timeline .track-indicator,
.timeline .thumb {
  transition: all .2s ease-out; }

.timeline .thumb-container {
  /*
	The thumb container is larger than the actual track column because of the
	invisible thumb area which allows for easier handling on touch screens.
	Moving the thumb is constrained to be within the thumb-container.
	*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: -20px; }

.timeline .thumb {
  width: 20px;
  height: 45px;
  position: absolute;
  top: -23px;
  left: 50%;
  z-index: 10;
  background: transparent; }

.timeline .thumb .thumb-knob {
  background: #F27200;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-align: center; }

.timeline .thumb:hover {
  cursor: pointer;
  transform-origin: center;
  /*transform: scale(1.25, 1.25);*/ }

.timeline .position,
.timeline .duration {
  display: block;
  width: 100px;
  height: 100%;
  position: absolute; }

.timeline .position {
  left: 0; }

.timeline .duration {
  right: 0; }

.timeline .position label,
.timeline .duration label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.no-transition {
  transition: none !important; }

/* DIRECTIVES */
.btn-colorpicker {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 2px;
  background: transparent; }

.btn-colorpicker:hover {
  background: #303030; }

.btn-colorpicker .color-fill-icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.colorpicker-lg .colorpicker-saturation {
  width: 200px;
  height: 200px; }

.colorpicker-lg .colorpicker-hue,
.colorpicker-lg .colorpicker-alpha {
  width: 32px;
  height: 200px; }

.colorpicker-lg .colorpicker-color,
.colorpicker-lg .colorpicker-color div {
  height: 32px; }

.img-icon {
  width: 40px; }

.img-avatar {
  padding: 0;
  margin: 0;
  overflow: hidden; }

.img-avatar img {
  border: none; }

.img-avatar-md {
  width: 45px; }

.img-avatar-md img {
  width: 45px;
  height: 45px;
  border-radius: 50%; }

.img-avatar-lg {
  margin-right: 14px; }

.img-avatar-lg,
.img-avatar-lg img {
  width: 110px;
  height: 110px; }

/* CARDS */
.cards {
  list-style: none;
  padding: 5px;
  margin: 0; }

.card {
  position: relative;
  float: left;
  width: 201px;
  height: 235px;
  margin: 0 5px 5px 0;
  padding: 0;
  border-radius: 5px;
  background: #262626; }

.card a {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100;
  background: transparent;
  transition: all ease-in .1s;
  border-radius: 5px; }

.card a:hover {
  background: rgba(255, 255, 255, 0.15); }

.card .file-thumbnail-container {
  position: relative;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  height: 201px;
  background: #262626 url("../img/placeholder-img.png") center center no-repeat;
  background-size: 125px auto; }

.card .file-thumbnail {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: transparent no-repeat;
  background-size: cover; }

.card .file-thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(32, 32, 32, 0.1), transparent, transparent, rgba(32, 32, 32, 0.3)); }

.card .file-name {
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  padding: 5px 5px 5px 5px;
  width: 200px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #d7d7d7; }

.card .file-extension {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px;
  min-width: 30px;
  text-align: center;
  border-radius: 0 5px 0 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: #202020; }

/* FORMS */
.form-header {
  margin-bottom: 2em; }

.stretch-horizontal {
  width: 100% !important; }

fieldset {
  background: rgba(242, 114, 0, 0.025);
  padding: 1em; }

fieldset h4 {
  padding: 0;
  margin-top: 0;
  color: #bdbdbd;
  border: none; }

label,
p.description,
p.subtitle {
  font-weight: 400;
  color: #bdbdbd; }

p.subtitle {
  margin-top: 1em; }

p.description {
  margin-bottom: 1em; }

label.form-label-top {
  display: block; }

input.form-control {
  border-radius: 0;
  border-color: white;
  box-shadow: none;
  margin-bottom: 6px; }

textarea.form-control {
  min-height: 4em;
  border: none;
  border-radius: 0;
  outline: 0px; }

textarea.form-control:active,
textarea.form-control:focus,
input.form-control:active,
input.form-control:focus {
  border-color: #F27200;
  box-shadow: none;
  outline: 0px !important;
  -webkit-appearance: none; }

input.form-control-login {
  max-width: 200px; }

input[type='checkbox'].form-control {
  -webkit-appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  vertical-align: middle;
  line-height: 1em;
  border: 0;
  border-radius: 0;
  outline: 0;
  margin-right: .5em; }

input[type='checkbox'][disabled].form-control {
  opacity: .5; }

input[type='checkbox'][disabled].form-control:hover {
  cursor: default; }

input[type='checkbox'].form-control:hover {
  cursor: pointer; }

input[type='checkbox'].form-control:active,
input[type='checkbox'].form-control:checked {
  background-color: #e9ecee; }

input[type='checkbox'].form-control:checked:after {
  content: '\f26b';
  font-family: "Material-Design-Iconic-Font";
  font-size: 14px;
  font-weight: 900;
  position: relative;
  left: 4px;
  top: 2px;
  color: black; }

select.form-control {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  width: auto; }

select.form-control:focus {
  outline: none; }

.modal-dialog {
  width: 700px;
  margin-top: 30px; }

.modal-dialog .toolbar {
  margin-top: 10px; }

.modal-dialog .toolbar .btn .btn-label {
  margin: 0;
  margin-right: 15px;
  margin-left: -5px;
  float: right; }

.modal-dialog .toolbar .btn .btn-label.left {
  margin-left: 15px;
  margin-right: -5px;
  float: left; }

.modal-window-lg .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  margin: 0; }

.modal-window-lg .modal-content {
  display: table;
  width: 100%;
  height: 100%; }

.modal-window-lg .modal-header {
  display: table-cell;
  height: 45px; }

.modal-window-lg .modal-body {
  display: table-row;
  padding: 10px; }

.modal-title {
  margin-bottom: .25em; }

.modal-content {
  box-shadow: none;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  border: none;
  border-top: 1px solid #282828;
  background: #303030;
  min-width: 700px;
  transition: width linear .4s;
  transition: height linear .4s; }

.modal-backdrop.in {
  background: #131313;
  opacity: .9 !important;
  transition: opacity linear .4s; }

.modal-status-bar {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 0; }

.modal-status-bar .modal-state {
  padding: 5px;
  text-align: center;
  border-radius: 0 0 10px 10px !important; }

input[disabled] {
  opacity: .5; }

button[disabled],
button[disabled]:hover {
  opacity: 1 !important;
  background: #303030 !important;
  color: #202020 !important;
  cursor: default; }

.progress {
  margin-bottom: 10px;
  background: #202020 !important;
  border-radius: 0; }

.progress-bar {
  background: #F27200 !important; }

/* LOADING SPINNER */
.loader {
  margin: .5em 1.5em;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  background: transparent;
  border-top: 0.6em solid rgba(240, 240, 240, 0.2);
  border-right: 0.6em solid rgba(240, 240, 240, 0.2);
  border-bottom: 0.6em solid rgba(240, 240, 240, 0.2);
  border-left: 0.6em solid #F0F0F0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader.loader-xs {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-top: 2px solid rgba(240, 240, 240, 0.2);
  border-right: 2px solid rgba(240, 240, 240, 0.2);
  border-bottom: 2px solid rgba(240, 240, 240, 0.2);
  border-left: 2px solid #F0F0F0;
  padding: 0;
  margin: 3px;
  line-height: 16px;
  vertical-align: middle; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* MISC */
.under-construction {
  position: relative;
  height: 300px;
  text-align: center;
  background: url("../img/construction.svg") center center no-repeat;
  background-size: 100px 100px;
  opacity: .2; }

::-webkit-scrollbar {
  width: 16px;
  /* for vertical scrollbars */
  height: 16px;
  /* for horizontal scrollbars */ }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #303030;
  border: 2px solid #202020; }

::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a; }

.bootstrap-switch {
  background: #303030;
  outline: none;
  border: none;
  border-radius: 0 !important; }

.bootstrap-switch-label {
  background: #303030 !important;
  padding: 3px 10px !important; }

.bootstrap-switch-focused {
  outline: none;
  border: none !important;
  box-shadow: none !important; }

.bootstrap-switch-handle-on {
  background: green !important;
  border-radius: 0 !important; }

.bootstrap-switch-handle-off {
  background: #bdbdbd !important;
  color: #202020 !important;
  border-radius: 0 !important; }

.nav-pills {
  border: none;
  border-radius: 0;
  margin: 0; }

.nav-pills li a {
  margin: 0;
  padding: 5px;
  min-width: 130px;
  text-align: center; }

.nav-pills li a .icn-container-lg {
  margin-left: -1em; }

.nav-pills.border {
  border: 1px solid #303030; }

.nav-pills.border-top {
  border-top: 1px solid #303030; }

.nav-pills.border-bottom {
  border-bottom: 1px solid #303030; }

.nav-pills > li + li {
  margin-left: 1px; }

.nav-pills > li > a {
  cursor: pointer;
  border-radius: 0;
  background: transparent;
  color: #F0F0F0;
  border-bottom: 2px solid transparent; }

.nav-pills > li.active > a {
  background: transparent;
  border-bottom: 2px solid #F27200;
  color: #F27200; }

.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover {
  cursor: pointer;
  color: #F27200;
  background: transparent;
  border-radius: 0;
  transition: background linear .2s; }

.nav-pills > li > a:hover {
  color: #F27200;
  background: transparent; }

.hint {
  background: #303030;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%; }

.zdmi-xl {
  font-size: 48px; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #F0F0F0;
  background: rgba(32, 32, 32, 0.95); }

.overlay.invisible,
.msg.invisible {
  opacity: 0; }

.msg {
  min-width: 600px; }

.msg h1,
.msg h2,
.msg h3 {
  margin-top: 0; }

.center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%); }

.lst-activities label {
  margin: 0; }

.lst-activities .activity-header {
  position: relative;
  padding: 10px 0 0 0;
  line-height: 28px; }

.lst-activities .activity-header .time {
  clear: both;
  vertical-align: middle;
  text-align: center;
  font-weight: bold; }

.lst-activities .activity-header .session {
  margin-left: 30px;
  background: #303030;
  padding: 0 10px;
  margin-bottom: 1px;
  margin-right: 15px; }

.lst-activities .activity-header .session .icn {
  float: left;
  height: 26px;
  width: 26px; }

.lst-activities {
  margin-right: 1px; }

.lst-activities li {
  color: #bdbdbd; }

.lst-activities li a {
  cursor: pointer;
  display: block;
  margin-bottom: 1px !important; }

.lst-activities li a.default {
  margin-left: 60px;
  background: #303030;
  padding: 5px;
  margin-right: 15px; }

.lst-activities li a.default .time {
  padding-right: 5px; }

.lst-activities li a.default:hover,
.lst-activities li.selected a.default {
  background: shade(#F27200, 20%); }

.lst-activities li a.default:hover label,
.lst-activities li a.default:hover i,
.lst-activities li.selected a.default label,
.lst-activities li.selected a.default i {
  color: #202020; }

.lst-influences {
  display: block;
  position: relative; }

.lst-influences a {
  display: block;
  line-height: 22px;
  vertical-align: middle;
  margin-bottom: 0 !important; }

/*
.lst-influences a .node {
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height: 10px;
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
	vertical-align: middle;
	background: transparent;
	background: #E96F02;
	border-radius: 50%;
	border: none;
}
*/
.lst-influences a i.zmdi {
  display: inline-block;
  text-align: center;
  width: 26px;
  font-size: 16px;
  color: white;
  margin: 0; }

.lst-influences .type {
  color: white; }

.lst-activities li a.comment {
  position: relative;
  margin: 0 15px 10px 30px; }

.lst-activities li a.comment .avatar {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px; }

.lst-activities li a.comment .avatar img {
  width: 42px;
  height: 42px; }

.lst-activities li a.comment .time {
  padding-right: 10px; }

.lst-activities li a.comment .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #303030; }

.lst-activities li a.comment .tip.tip-right {
  top: 0px;
  right: -15px;
  border-right-color: transparent;
  border-bottom-color: transparent; }

.lst-activities li a.comment .tip.tip-left {
  top: 0;
  left: -15px;
  border-left-color: transparent;
  border-bottom-color: transparent; }

.lst-activities li a.comment .txt {
  background: #303030;
  padding: 10px;
  color: white;
  min-height: 2em; }

.lst-activities li a.comment .txt .time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 0; }

.lst-activities li a.comment:hover .txt,
.lst-activities li.selected a.comment .txt {
  background: #F27200;
  color: black; }

.lst-activities li a.comment:hover .tip.tip-left,
.lst-activities li.selected a.comment .tip.tip-left {
  border-top-color: #F27200;
  border-right-color: #F27200; }

.lst-activities li a.comment:hover .tip.tip-right,
.lst-activities li.selected a.comment .tip.tip-right {
  border-top-color: #F27200;
  border-left-color: #F27200; }

.ctl-history:focus {
  outline: none; }

.ctl-comment textarea,
.ctl-comment input {
  display: block; }

.ctl-comment textarea {
  line-height: 1.3em;
  border: none;
  width: 100%;
  padding: 10px;
  color: #000000;
  resize: none;
  height: 2.7em; }

.ctl-comment input[type=button] {
  float: right;
  margin: 5px; }

/* STATS */
.chart-donut {
  width: 29rem;
  height: 29rem;
  margin: 0 auto; }

path.color0 {
  fill: #1072b8; }

path.color1 {
  fill: #35526b; }

/* YASGUI */
#editor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden; }

.yasgui {
  background: none;
  font-family: 'Roboto'; }

.yasgui .nav-tabs .active {
  color: #FFFFFF;
  border-radius: 0; }

.yasgui .nav-tabs .active a {
  border: none !important;
  border-radius: 0;
  padding: 10px 10px 11px 15px; }

.yasgui .nav-tabs a[role='addTab'] {
  width: 40px;
  text-align: center; }

.yasgui .controlbar {
  display: none;
  border-left: none;
  background: #303030; }

.yasgui .tab-content {
  padding: 0;
  position: relative; }

.yasgui .CodeMirror {
  border: none !important;
  border-bottom: 4px solid #202020; }

.yasgui .CodeMirror-gutters {
  border: none !important;
  background: none; }

.yasqe_share,
.yasqe_fullscreenBtn {
  width: 16px !important;
  height: 16px !important;
  margin: 0 5px;
  position: relative;
  left: -7px; }

.yasqe_queryButton.query_valid .btn {
  float: left;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 11px 20px 0 0;
  padding: 10px 8px 10px 12px;
  width: 45px;
  height: 45px;
  background: #F27200;
  color: white; }

.yasgui .yasr {
  background-color: #202020; }

.yasgui .yasr .yasr_header {
  position: relative;
  top: -10px; }

.yasgui .yasr .yasr_btn {
  border: 1px solid #202020;
  background: #303030;
  color: #F0F0F0; }

.yasgui .yasr .yasr_btn:hover {
  border: 1px solid #202020;
  background: rgba(48, 48, 48, 0.4);
  color: #F0F0F0; }

.yasgui .yasr .yasr_btn.selected {
  background: #F94C00;
  border: 1px solid #202020; }

.yasgui .yasr .yasr_btn svg path {
  fill: #F0F0F0 !important; }

.yasgui .yasr .sortIcons svg path {
  fill: #bdbdbd !important; }

.yasgui .yasr .yasr_results {
  margin: 0; }

.yasgui .yasr .btn_smallscreen,
.yasgui .yasr .btn_fullscreen {
  position: absolute;
  right: 7px; }

.yasgui .yasr input {
  border: none; }

.yasgui .yasr label {
  font-weight: normal; }

.yasgui .yasr .dataTables_wrapper .dtTopHeader {
  padding: 7px 7px 7px 0; }

.yasgui .yasr .dataTables_wrapper .dataTables_info {
  padding: 7px; }

.yasgui .yasr .dataTables_wrapper .dataTables_info {
  color: #bdbdbd !important;
  border: none !important;
  margin: 0; }

.yasgui .yasr table.dataTable {
  border: none; }

.yasgui .yasr table.dataTable thead th {
  background: #303030 !important;
  border-left: 1px solid #202020;
  border-right: none;
  color: #bdbdbd; }

.yasgui .yasr table.dataTable tbody td {
  padding: 5px 10px;
  font-family: 'Roboto';
  background: #303030;
  border-left: 1px solid #202020;
  border-bottom: 1px solid #202020; }

.yasgui .yasr table.dataTable tbody tr td:first-child {
  text-align: center;
  color: #999; }

.yasgui .yasr .CodeMirror {
  background: #303030;
  color: #F0F0F0; }

.yasgui .yasr .yasr_header {
  padding-bottom: 5px; }

.yasgui .yasr table.dataTable tbody tr td a,
.yasgui .yasr .CodeMirror .cm-string {
  color: #00ceff; }

.yasgui .yasr .nonUri {
  color: #F0F0F0; }

.yasgui .yasr sup {
  color: #bdbdbd; }

.openGchartBtn {
  position: relative;
  right: 47px;
  top: -45px !important; }

/* CONNECTION SPINNER */
.spinner.connecting {
  display: inline-block;
  margin: 0 3px 0 0;
  width: 20px;
  height: 16px;
  font-size: 10px;
  position: relative;
  top: 3px;
  left: 0;
  transform: none; }

.spinner.connecting > div {
  background-color: white;
  height: 100%;
  width: 4px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner.connecting .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner.connecting .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner.connecting .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner.connecting .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.spinner.loading,
.spinner.loading:before,
.spinner.loading:after {
  border-radius: 50%; }

.spinner.loading:before,
.spinner.loading:after {
  position: absolute;
  content: ''; }

.spinner.loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #222;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.spinner.loading {
  color: #bdbdbd;
  font-size: 5px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.spinner.loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #222;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

.cfp-hotkeys-close {
  display: none; }

.cfp-hotkeys-container {
  background: rgba(32, 32, 32, 0.9);
  margin-top: 47px; }

.cfp-hotkeys-key {
  border: none;
  background: #F0F0F0;
  color: #303030;
  box-shadow: none; }

.cfp-hotkeys-text {
  color: #F0F0F0; }

@media screen and (max-width: 991px) {
  .body-wrapper {
    top: 47px;
    bottom: 0;
    left: 0;
    right: 0; }
  .ui-pane-right {
    display: none; }
  .ui-pane-left {
    position: absolute;
    bottom: -43px;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 200px;
    z-index: 10;
    border: none; }
  .ui-pane-center {
    position: absolute !important;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0; }
  .ctl-history {
    bottom: 0; }
  .ctl-comment {
    display: none; }
  .footer .toolbar {
    bottom: 201px; } }

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

#spinner-container {
  background-color: #1D1D1D;
  z-index: 15; }

#error-container {
  background-color: #1D1D1D;
  z-index: 10; }

.error-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.bounce {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.7); } }

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(1); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(0.7); } }

iframe {
  border: none;
  margin: none;
  width: 100%;
  height: 100%;
  z-index: 0; }

#window-title {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: none;
  margin: 0px;
  height: 30px;
  background: #303030;
  z-index: 99999; }

#window-title-text {
  text-align: center;
  color: #bdbdbd;
  line-height: 30px;
  vertical-align: middle; }

#window-title-btns {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  right: 0; }

#window-title-btns button.btn-title {
  height: 30px;
  width: 45px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #F1F1F1;
  opacity: .5; }

#window-title-btns button:hover.btn-title {
  background-color: #3F3F41;
  opacity: 1; }

#window-title-btns button#btn-update {
  background: #F27200;
  color: #FFFFFF;
  display: none;
  opacity: .9 !important;
  text-shadow: none;
  transition: opacity linear .2s;
  width: auto;
  padding: 0 10px; }

#window-title-btns button#btn-update .btn-label {
  display: none;
  font-size: 12px;
  padding-left: 5px;
  position: relative;
  bottom: 1px; }

#window-title-btns button#btn-update .zmdi {
  font-size: 15px; }

#window-title-btns button#btn-update.disabled {
  opacity: 0 !important;
  cursor: default; }

#btn-close:hover {
  background: #E81123 !important; }

#window-view-container {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0; }

#window-view-container > .ng-scope {
  display: block;
  width: 100%;
  height: 100%; }

/* ANIMATIONS */
.animate-show.animate-height {
  overflow: hidden; }

.animate-show.animate-height.ng-hide-add {
  max-height: 99999px;
  transition: max-height 0.25s ease-in; }

.animate-show.animate-height.ng-hide-remove {
  max-height: 0; }

.animate-spin-hover:hover .zmdi {
  animation: keyframes-spin 10s linear infinite; }

@keyframes keyframes-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */