$accentColor: #F87806;
$accentTextColor: #FFFFFF;
$accentShadeColor: shade($accentColor, 20%);
$warnColor: #FFC914;
$warnTextColor: #FFFFFF;
$infoColor: #00A7E4;
$infoTextColor: #FFFFFF;
$errorColor: #D62828;
$errorTextColor: #FFFFFF;
$successColor: #3BC14A;
$successTextColor: #FFFFFF;
$iconFont: 'Material-Design-Iconic-Font';
$iconFontSize: 24px;
$textFont: 'Roboto','Helvetica','Arial',sans-serif;
$textColor: #404040;
$labelTextColor: #606060;
$labelBackgroundColor: transparent;
$itemTextColor: $textColor;
$itemBackgroundColor: rgba($textColor, .085);
$highlightTextColor: $textColor;
$highlightBackgroundColor: rgba($textColor, .075);
$selectionTextColor: $textColor;
$selectionBorderColor: transparent;
$selectionBackgroundColor: rgba($textColor, .1);
$windowBackgroundColor: #e6e6e6;
$headerBackgroundColor: #2f2f2f;
$headerTextColor: #ededed;
$headerHeight: 40px;
$toolbarHeight: 42px;
$toolbarIconHeight: 32px;
$toolbarBackgroundColor: $headerBackgroundColor;
$toolbarTextColor: $headerTextColor;
$overlayTextColor: $textColor;
$overlayBackgroundColor: rgba($windowBackgroundColor, .95);
$buttonBackgroundColor: $itemBackgroundColor;
$buttonHoverBackgroundColor: lighten($itemBackgroundColor, 5%);
$buttonTextColor: $textColor;
$inputBackgroundColor: #FFFFFF;
$inputTextColor: #000000;
$windowTitlebarHeight: 40px;
$scrollbarSize: 12px;
$tooltipBackgroundColor: #F1F1F1;
$tooltipTextColor: black;
$editorBackgroundColor: #efefef;
$editorContentColor: white;
$editorTextColor: #202020;
$editorLabelColor: lighten($editorTextColor, 25%);
$editorBorderColor: darken($editorBackgroundColor, 25%);
@mixin transitionEaseInOutCubic ($property, $duration) {
	-webkit-transition: $property $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition: $property $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition: $property $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

// TYPOGRAPHY
$textScaleFactor: 0.9;

h1,
.md-display-4 {
	font-size: round(112px * $textScaleFactor) !important;
}

h2,
.md-display-3 {
	font-size: round(56px * $textScaleFactor) !important;
}

h3,
.md-display-2 {
	font-size: round(45px * $textScaleFactor) !important;
}

h4,
.md-display-1 {
	font-size: round(34px * $textScaleFactor) !important;
}

h5,
.md-headline {
	font-size: round(24px * $textScaleFactor) !important;
}

h6 {
	font-size: round(20px * $textScaleFactor) !important;
}

.md-title,
.dialog-title {
	font-size: round(20px * $textScaleFactor) !important;
}

.window-title,
.md-subhead {
	font-size: round(14px * $textScaleFactor) !important;
	font-weight: 600 !important;
}

.md-text,
.md-body-1,
.md-body-2,
.md-tab,
.md-tooltip,
.md-button {
	font-size: round(14px * $textScaleFactor) !important;
}

.md-button.md-button-icon {
	min-width: round(35px * $textScaleFactor) !important;
}

.md-button-edit .zmdi {
	color: white;
}

.md-button-edit.psd {
	background: #0EBFF4 !important;
	color: white;
}

.md-button-edit.psd:hover {
	background: lighten(#0EBFF4, 10%) !important;
}

.md-button-edit.ai {
	background: #F67C07 !important;
	color: white;
}

.md-button-edit.ai:hover {
	background: lighten(#F67C07, 10%) !important;
}

.md-caption {
	font-size: 14px * $textScaleFactor !important;
}

md-content {
	background: transparent;
}

/* GENERAL STYLES */
html,
body {
	// Make the body fill the browser window.
	height: 100%;
	width: 100%;
	// Do not show scrollbars on the window itself.
	overflow-x: hidden;
	overflow-y: hidden;
	// Base font settings.
	font-family: $textFont;
	font-size: 14px;
}

h1 .zmdi,
h2 .zmdi {
	margin-right: .3em;
}

body {
	color: $textColor;
	background: $windowBackgroundColor;
	overflow: hidden;
	min-height: 100%;
	margin: 0;
}

md-icon {
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
}

md-icon[md-font-icon] {
    line-height: 20px;
}

// Note: This does not support theming. Apparantly, there is no built-in support for active list items in Angular Material.
// See: https://github.com/angular/material/issues/3420
// Todo: Find a way to style list items with theming support.
md-list-item.md-list-item-active {
	background: rgba(0,0,0,.06);
}

// Half the size of the icon margin in list items.
md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
	margin-right: 8px;
}

a {
	color: $textColor;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

.link {
	cursor: pointer;
}

a[target="_blank"],
a.link-external {
	text-decoration: underline;
}

a.title {
	font-weight: 500;
}

*:focus {
	outline: none;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.collapsed {
	display: none;
}

.bg-transparent {
	background-color: rgba(0, 0, 0, 0) !important;
}

.text-center {
	text-align: center;
}

.pull-center {
	margin-left: auto;
	margin-right: auto;
}

.translucent {
	opacity: .5;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* BUTTONS */

.btn {
	border: none;
	border-radius: 3px;
	background: $buttonBackgroundColor;
	color: $labelTextColor;
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	@include transitionEaseInOutCubic(background, 300ms);
}

.btn.padding-sm {
	padding: 3px 6px;
}

button:hover,
.btn:hover,
.btn-default:hover {
	background: $buttonHoverBackgroundColor;
	color: $buttonTextColor;
}

button:active,
button:focus,
.btn:active,
.btn:focus,
.btn.btn-active {
	background: $buttonHoverBackgroundColor;
	color: $buttonTextColor;
	outline: none !important;
}

.btn-success {
	color: $headerTextColor !important;
	background: $headerBackgroundColor !important;
	border: none;
	transition: all linear .2s;
	text-shadow: none;
	padding: 10px 15px;
}

.btn-success:hover {
	background: lighten($accentColor, 5%) !important;
}

.btn-chromeless {
	background: transparent;
	color: $labelTextColor !important;
	transition: color linear .2s;
}

.btn-chromeless:hover {
	color: darken($labelTextColor, 5%) !important;
	background: rgba($labelTextColor, .05);
}

.btn-circular,
.btn-round {
	border-radius: 50%;
	overflow: hidden;
}

.btn-round,
.btn-circular {
	width: $toolbarHeight;
	height: $toolbarHeight;
}

.btn-label {
	margin-left: 6px;
}

.btn-label.left {
	text-align: left;
}

.md-button-avatar {
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
}

.md-icon-button {
	color: $labelTextColor;
}

#primary-sidenav {
	background: rgba(255,255,255,.33);
	border-right: none;
	border-left: none;
}

#primary-sidenav md-list {
	padding: 0;
}

/* ACCODRION */

.panel-accordion>.panel-group>.panel {
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
}

.panel-accordion>.panel-group>.panel>.panel-title a {
	margin: 0;
	padding: 10px;
}

.panel-accordion>.panel-group a:focus {
	text-decoration: none !important;
}

.panel-accordion>.panel-group>.panel>.panel-heading {
	background: transparent;
	border: none;
	border-top: 1px solid $itemBackgroundColor;
	padding: 0;
}

.panel-accordion>.panel-group>.panel>.panel-heading:hover {
	background: $itemBackgroundColor;
}

.panel-accordion>.panel-group .panel-heading+.panel-collapse>.panel-body {
	border: none !important;
	border-top: none !important;
	padding: 5px 15px;
	@include transitionEaseInOutCubic(all, 400ms);
}

.panel-accordion>.panel-group .panel+.panel {
	margin-top: 0;
}

/* LIST VIEW */

.list-view {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 3px;
}

.list-view.list-view-compact {
	border-spacing: 0 1px;
}

.list-item {
	display: table-row;
	vertical-align: middle;
	color: $itemTextColor;
	border-top: 1px solid $itemBackgroundColor;
	background: transparent;
}

.list-item-unstyled {
	border: none;
	background: transparent;
}

.list-item-link {
	cursor: pointer;
}

.list-item.drop-target {
	transition: background linear .25s;
	background: rgba($highlightBackgroundColor, .015);
}

.list-item.drop-target-valid {
	background: $highlightBackgroundColor;
}

.list-item.selected {
	background: $selectionBackgroundColor;
	color: $selectionTextColor !important;
}

.list-item.selected label,
.list-item.selected .label,
.list-item.selected .zmdi {
	color: $selectionTextColor !important;
}

.list-item:hover {
	color: $highlightTextColor;
	background: $highlightBackgroundColor;
}

.list-item .col {
	display: table-cell;
}

.list-item .col h5 {
	margin-top: 0;
	margin-bottom: 6px;
	color: $labelTextColor;
	font-size: 15px;
}

.list-item .col label {
	margin: 0;
}

.list-item .col.expand {
	width: 100%;
}

.list-item .col-icn {
	vertical-align: middle;
	text-align: center;
	min-width: 48px;
}

.list-item .col-icn-lg {
	min-width: 64px;
}

.list-item .col-icn i {
	display: block;
	width: 100%;
	font-size: 30px;
	line-height: 100%;
	border: none;
	margin: 0;
}

.list-item .col button {
	background: transparent;
	color: $labelTextColor;
}

.label,
.label-default,
.text-label,
.icn-label {
	font-size: 14px;
	font-weight: normal;
	color: $labelTextColor;
	background: transparent;
}

.icn-label {
	margin-left: 7px;
}

.icn {
	width: 20px;
	height: 20px;
	background: $buttonBackgroundColor;
	line-height: 20px;
	vertical-align: middle;
}

.icn-circle {
	border-radius: 50%;
}

.icn-transparent {
	background: transparent;
}

.icn-container-lg {
	display: inline-block;
	text-align: center;
	width: 30px;
}

.zmdi {
	font-size: 20px !important;
	vertical-align: middle;
}

.zmdi-sm {
	display: inline-block;
	font-size: 20px;
	width: 26px;
	height: 20px;
	line-height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle
}

.zdmi-xl {
	font-size: 48px;
}

.account,
.ok {
	font-size: $iconFontSize;
	text-shadow: none;
	border: none;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	padding: 0;
	margin: 0 5px;
	outline: none;
	box-shadow: none;
}

h4 {
	font-size: 1.1em;
}

.subline {
	margin: .5em 0 2em 0;
}

// LAYOUT

.layout-root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.layout-container {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.table-layout {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.table-layout.spacing-xs {
	border-collapse: separate;
	border-spacing: 5px;
}

.table-layout.spacing-md {
	border-collapse: separate;
	border-spacing: 15px;
}

.table-layout.spacing-xl {
	border-collapse: separate;
	border-spacing: 30px;
}

.table-layout>.row {
	display: table-row;
	position: relative;
	margin: 0;
	padding: 0;
}

.table-layout>.row.expand {
	height: 100%;
	overflow: hidden;
}

.table-layout>.row>.col {
	display: table-cell;
	position: relative;
	margin: 0;
	padding: 0;
}

.table-layout>.row>.col.expand {
	width: 100%;
}

.table-cell {
	display: table-cell;
}

.table-cell.expand {
	width: 100%;
}

.scroll-container {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.scroll-container.layout-fix {
	padding-left: $scrollbarSize;
}

.scroll-container.scroll-x {
	overflow-x: scroll !important;
}

.scroll-container.scroll-y {
	overflow-y: scroll !important;
}

::-webkit-scrollbar {
	width: $scrollbarSize;
	/* for vertical scrollbars */
	height: $scrollbarSize;
	/* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: darken($itemBackgroundColor, 10%);
}

::-webkit-scrollbar-thumb:hover {
	background: lighten($itemBackgroundColor, 10%);
}

.padding-x-none {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.padding-x-xs {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.padding-x-md {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.padding-x-xl {
	padding-left: 24px !important;
	padding-right: 24px !important;
}

.padding-y-none {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.padding-y-xs {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.padding-y-md {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

.padding-y-xl {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}

// VIEWER

.viewer-canvas {
	padding: 0;
	width: 100%;
	height: 100%;
}

// TOOLBARS

.toolbar {
	min-height: $toolbarHeight;
}

.toolbar .col {
	width: $toolbarHeight;
}

.toolbar .btn {
	float: left;
	border-radius: 1px;
	height: $toolbarHeight;
	min-width: $toolbarHeight;
	transition: all .2s ease-in;
	padding: 0 10px;
	line-height: $toolbarHeight - 1px;
}

.toolbar .btn-primary {
	padding-left: 16px;
	padding-right: 16px;
	background: transparent;
	border: none;
	text-shadow: none !important;
	color: $textColor;
}

.toolbar .btn-primary:hover {
	background: rgba($infoColor, .1) !important;
	border: none;
	color: $infoColor;
}

.toolbar.toolbar-floating {
	border: 1px solid #dedede;
	background: $overlayBackgroundColor;
	backdrop-filter: blur(3px);
	overflow: hidden;
}

.toolbar.toolbar-floating .md-button {
	margin: 6px 5px;
}

.toolbar.toolbar-floating .btn {
	background-color: #f1f1f1;
	color: $textColor;
}

.toolbar.toolbar-floating .btn:hover,
.toolbar.toolbar-floating .btn.active {
	background-color: darken(#f1f1f1, 5%);
	color: $textColor;
}

.toolbar.toolbar-fixed {
	height: $toolbarHeight + 2px;
	border: 1px solid #dedede;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .05);
}

.toolbar .txt {
	float: left;
	height: $toolbarHeight;
	line-height: $toolbarHeight;
}

.toolbar .txt-title {
	font-weight: 400;
	color: rgba($headerTextColor, .7);
}

.toolbar md-select {
	display: inline-block;
	margin: 9px 8px;
}

.toolbar.toolbar-view .txt-title {
	color: $textColor;
	font-weight: 600;
}

.toolbar-header .btn {
	padding: 0;
	margin: 0 !important;
	min-width: $toolbarHeight;
	height: $toolbarHeight;
	line-height: $toolbarHeight;
	vertical-align: middle;
	background: none;
	color: rgba($headerTextColor, .7);
}

.toolbar-header .btn:hover,
.toolbar-header .btn:active,
.toolbar-header .btn.btn-active {
	background: rgba(255, 255, 255, .1);
	color: rgba($headerTextColor, 1);
}

.toolbar-header .txt-title {
	text-transform: uppercase !important;
}

.toolbar-header .btn.btn-text {
	padding: 0 15px !important;
}

.toolbar-header .btn .btn-label {
	cursor: pointer;
	color: $headerTextColor;
}

.toolbar-header.pull-right .btn:first-child .btn-label {
	display: none;
	margin-left: 0;
	margin-right: 15px;
}

.toolbar-header .btn.btn-user-menu .btn-avatar:hover {
	background: transparent;
}

@media (min-width: 992px) {
	.toolbar-header .btn .btn-label {
		display: inline-block !important;
	}
}

.toolbar-header .icn.icn-user {
	width: 26px;
	height: 26px;
	margin: 8px 6px 0 6px;
}

.toolbar-view {
	border-bottom: 1px solid darken($windowBackgroundColor, 3%);
}

.md-toolbar .title {
	display: block;
	font-weight: 500;
}

.md-toolbar .title,
.md-toolbar md-autocomplete {
	margin: 6px 8px;
}

.md-toolbar.md-toolbar-header {
	background: $headerBackgroundColor;
	color: $headerTextColor;
}

.md-toolbar.md-toolbar-header .title {
	text-transform: uppercase;
}

.md-toolbar.md-toolbar-header button,
.md-toolbar.md-toolbar-header button md-icon {
	color: $headerTextColor !important;
}

.md-toolbar.md-toolbar-header button:hover {
	color: $headerTextColor !important;
}

md-list-item .md-list-item-inner>md-checkbox .md-label {
	// Show the labels inside a checkbox.
	display: inline !important;
}

.md-toolbar .toolbar {
	border-right: 1px solid rgba(0,0,0,.05);
}

.md-toolbar.md-border-bottom {
	border-bottom: 1px solid rgba(0,0,0,.05);
}

/* DIRECTIVES */

.btn-colorpicker {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	padding: 2px;
	background: transparent;
}

.btn-colorpicker:hover {
	background: $buttonBackgroundColor;
}

.btn-colorpicker .color-fill-icon {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.colorpicker-lg .colorpicker-saturation {
	width: 200px;
	height: 200px;
}

.colorpicker-lg .colorpicker-hue,
.colorpicker-lg .colorpicker-alpha {
	width: 32px;
	height: 200px;
}

.colorpicker-lg .colorpicker-color,
.colorpicker-lg .colorpicker-color div {
	height: 32px;
}

.img-icon {
	width: 40px;
}

// FORMS

.form-header {
	margin-bottom: 2em;
}

.stretch-horizontal {
	width: 100% !important;
}

label,
p.description,
p.subtitle {
	font-weight: 400;
	color: $labelTextColor;
}

p.subtitle {
	margin-top: 1em;
}

p.description {
	margin-bottom: 1em;
}

label.form-label-top {
	display: block;
}

input.form-control {
	border-radius: 0;
	border-color: white;
	border-style: solid;
	border-color: rgba(0, 0, 0, .05);
	box-shadow: none;
	margin-bottom: 6px;
}

textarea.form-control {
	min-height: 4em;
	border: none;
	border-radius: 0;
	outline: 0px;
}

textarea.form-control:active,
textarea.form-control:focus,
input.form-control:active,
input.form-control:focus {
	border-color: $accentColor;
	box-shadow: none;
	outline: 0px !important;
	-webkit-appearance: none;
}

input.form-control-login {
	max-width: 200px;
}

select.form-control {
	-webkit-appearance: none;
	border-radius: 0;
	border: none;
	width: auto;
}

select.form-control:focus {
	outline: none;
}

div[contenteditable] {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

button,
md-slider,
md-select {
	pointer-events: visiblePainted;
}

button[disabled],
button[disabled]:hover {
	opacity: 1 !important;
	background: $buttonBackgroundColor !important;
	color: $textColor !important;
	cursor: default;
}

.progress {
	margin-bottom: 10px;
	background: $windowBackgroundColor !important;
	border-radius: 0;
}

.progress-bar {
	background: $accentColor !important;
}

// LOADING SPINNER
.loader {
	margin: .5em 1.5em;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	background: transparent;
	border-top: .6em solid rgba($textColor, 0.2);
	border-right: .6em solid rgba($textColor, 0.2);
	border-bottom: .6em solid rgba($textColor, 0.2);
	border-left: .6em solid $textColor;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

.loader.loader-xs {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-top: 2px solid rgba($textColor, 0.2);
	border-right: 2px solid rgba($textColor, 0.2);
	border-bottom: 2px solid rgba($textColor, 0.2);
	border-left: 2px solid $textColor;
	padding: 0;
	margin: 3px;
	line-height: 16px;
	vertical-align: middle;
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

// MISC
.border-top {
	border-top: 1px solid $itemBackgroundColor;
}

.overlay {
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
	bottom: 0;
	color: $overlayTextColor;
	background: $overlayBackgroundColor;
	z-index: 100;
}

.overlay.invisible,
.msg.invisible {
	opacity: 0;
}

.msg {
	min-width: 600px;
}

.msg h1,
.msg h2,
.msg h3 {
	margin-top: 0;
}

.center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.center-xy {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

#ctl-history label {
	margin: 0;
}

#ctl-history .item-header {
	background: transparent;
	margin: 10px 0 0 0;
	padding: 15px 15px 10px 25px;
	border-top: 1px solid $itemBackgroundColor;
}

#ctl-history:first-child .item-header {
	margin-top: 0;
}

#ctl-history .repeated-item {
	/* The min-height is important for the virtualized list to 
	* determine how many items fit into the visible area. */
	min-height: 30px;
}

#ctl-history .item-header label {
	font-weight: 500;
	color: $labelTextColor;
}

#ctl-history .item {
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 10px 20px;
}

#ctl-history .item:hover,
#ctl-history .item.selected {
	background-color: $itemBackgroundColor;
}

#ctl-history .item .zmdi {
	display: inline-block;
	text-align: center;
	width: 26px;
	font-size: 21px !important;
	margin: 0;
}

#ctl-history .item .time {
	padding-right: 5px;
}

/* COMMENTS */
$commentTextColor: $textColor;
$commentBackgroundColor: rgba($textColor,
.2);
$userCommentTextColor: $textColor;
$userCommentBackgroundColor: rgba($textColor,
.1);
.comment-item .comment-avatar {
	position: absolute;
	left: 0;
	top: 5px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	overflow: hidden;
}

.comment-item .comment-avatar img {
	width: 32px;
	height: 32px;
}

.comment-item .comment-bubble {
	display: block;
	position: relative;
}

.comment-item .comment-bubble,
.comment-item .comment-bubble-context {
	margin-left: 35px;
	margin-right: 75px;
}

.comment-item .comment-time {
	position: absolute;
	top: 18px;
	right: 2px;
	padding: 0;
}

.comment-item .comment-more {
	position: absolute;
	top: 5px;
	right: 0;
}

.comment-item .comment-more .btn {
	display: block;
	width: 35px;
	height: 35px;
	padding: 5px;
}

.comment-item .bubble-content {
	float: left;
	min-height: 2em;
	max-width: 100%;
	padding: 10px;
	margin-left: 12px;
	color: $commentTextColor;
	background: $commentBackgroundColor;
	word-wrap: break-word;
	text-overflow: ellipsis;
	border-radius: 0 5px 5px 5px;
}

.comment-item .bubble-content .icon {
	display: none;
	margin-left: 7px;
	margin-right: 0;
}

.comment-item .bubble-tip {
	position: absolute;
	top: 0;
	right: auto;
	left: 0;
	width: 0;
	height: 0;
	background: transparent;
	border: 6px solid $commentBackgroundColor;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.comment-item .bubble-content .icon {
	margin-right: 7px;
	margin-left: 0;
}

.comment-item.comment-user .comment-avatar {
	display: none;
}

.comment-item.comment-user .bubble-content {
	float: right;
	color: $userCommentTextColor;
	background: $userCommentBackgroundColor;
	border-radius: 5px 0 5px 5px;
}

.comment-item.comment-user .comment-bubble,
.comment-item.comment-user .comment-bubble-context {
	margin-left: 60px;
	margin-right: 50px;
}

.comment-item.comment-user .comment-bubble-context {
	text-align: right;
}

.comment-item.comment-user .bubble-tip {
	top: 0px;
	left: auto;
	right: -12px;
	border: 6px solid $userCommentBackgroundColor;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.comment-item.comment-request .bubble-content {
	background: $infoColor;
	color: $infoTextColor;
}

.comment-item.comment-request .bubble-content .icon {
	display: inline;
}

.comment-item.comment-request .bubble-tip {
	border: 6px solid $infoColor;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.comment-item.comment-request.comment-user .bubble-content {
	width: 100%;
}

.comment-item.comment-request.comment-user .bubble-tip {
	border: 6px solid $infoColor;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.comment-item.comment-request.comment-user .comment-bubble {
	margin-left: 0px;
	margin-right: 50px;
}

.comment-input {
	padding: 0 5px;
}

.comment-input .textarea,
.comment-input .input {
	display: block;
}

.comment-input .textarea {
	min-height: 38px;
	width: 100%;
	line-height: 1.3em;
	border: none;
	outline: none;
	padding: 10px;
	color: $inputTextColor;
	background: rgba(255, 255, 255, .1);
	@include transitionEaseInOutCubic(height,
	200ms);
}

.comment-input .textarea-placeholder {
	float: left;
	padding: 10px;
	line-height: 1.3em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.comment-input .textarea:focus {
	outline: none;
}

.comment-input .textarea-container {
	position: relative;
	border-top: 1px solid $itemBackgroundColor;
	border-bottom: 1px solid $itemBackgroundColor;
}

.comment-input .btn-post {
	float: right;
	margin: 5px 0;
}

.ctl-emoticon-panel {
	@include transitionEaseInOutCubic(height,
	500ms);
	height: 0;
	border: none;
}

.ctl-emoticon-panel.panel-visible {
	height: 250px;
	border-top: 1px solid $itemBackgroundColor;
}

.ctl-emoticon-picker {
	max-height: 250px;
	transform: height ease-out 1s;
}

.ctl-emoticon-picker .btn-emoticon {
	float: left;
	direction: rtl;
	padding: 5px;
}

/* YASGUI */
#editor {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $editorBackgroundColor;
}

#editor .yasgui,
#editor .yasgui .tabpanel,
#editor .yasgui .tabpanel .tab-content,
#editor .yasgui .tabpanel .tab-content .wrapper {
	height: 100%;
}

.yasgui {
	font-family: 'Roboto';
	background: $editorBackgroundColor;
}

.yasgui .nav-tabs {
	border-bottom: none !important;
}

.yasgui .nav-tabs .active {
	color: $accentTextColor;
	border-radius: 0;
}

.yasgui .nav-tabs .active a {
	border: none !important;
	border-radius: 0;
	padding: 10px 10px 11px 15px;
}

.yasgui .nav-tabs a[role='addTab'] {
	width: 40px;
	text-align: center;
}

.yasgui button:hover {
	color: $accentColor;
}

.yasgui button[disabled] {
	background: $editorContentColor !important;
	color: $editorTextColor;
	opacity: .6;
}

.yasgui .nav-tabs button:hover,
.yasgui .nav-tabs li a:hover {
	color: $editorTextColor !important;
}

.yasgui .controlbar {
	display: none;
	border-left: none;
}

.yasgui .tab-content {
	padding: 0;
	position: relative;
}

.yasgui .CodeMirror {
	border: none !important;
	border-bottom: 4px transparent;
	border-top: none;
}

.yasgui .CodeMirror-cursors {
	color: $editorContentColor !important;
}

.yasgui .CodeMirror-gutters {
	border: none !important;
	background: none;
}

.yasqe_share,
.yasqe_fullscreenBtn {
	width: 16px !important;
	height: 16px !important;
	margin: 0 5px;
	position: relative;
	left: -7px;
}

.yasgui .yasqe .yasqe_buttons>.yasqe_share,
.yasgui .yasqe .yasqe_buttons>.fullscreenToggleBtns {
	margin-top: 12px;
}

.yasgui .yasqe .cm-ws {
	visibility: hidden;
}

.yasqe_queryButton.query_valid .btn {
	font-size: 26px;
	line-height: 30px;
	border-radius: 0;
	width: 40px;
	height: 40px;
	background: $accentColor;
	color: $editorContentColor;
}

.yasqe_queryButton.query_valid .btn:hover {
	background: lighten($accentColor, 10%);
}

.yasqe_queryButton.query_valid svg path {
	fill: $accentColor !important;
}

.yasgui .yasr {
	font-family: $textFont !important;
	background-color: $editorBackgroundColor;
}

.yasgui .yasr .yasr_btn {
	border-radius: 0;
	border: 1px solid $editorBackgroundColor;
	background: $editorContentColor;
	color: $editorTextColor;
}

.yasgui .yasr .yasr_btn.btn_icn {
	color: $editorTextColor !important;
}

.yasgui .yasr .yasr_btn:hover {
	border: 1px solid $editorBackgroundColor;
	background: $editorContentColor;
	color: $accentColor !important;
}

.yasgui .yasr .yasr_btn.selected {
	background: $accentColor;
	border: 1px solid $editorBackgroundColor;
}

.yasgui .yasr .yasr_btn.disabled:hover {
	color: $editorTextColor !important;
}

.yasgui .yasr .yasr_btn.selected:hover {
	color: $accentTextColor !important;
}

.yasgui .yasr .yasr_btn svg path {
	fill: $editorTextColor !important;
}

.yasgui .yasr .sortIcons svg path {
	fill: $editorTextColor !important;
}

.yasgui .yasr .yasr_results {
	margin: 7px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.yasgui .yasr .btn_smallscreen,
.yasgui .yasr .btn_fullscreen {
	position: absolute;
	right: 7px;
}

.yasgui .yasr input {
	border: none;
}

.yasgui .yasr label,
.yasgui .yasr .dataTables_wrapper .dataTables_info {
	font-weight: normal;
	color: $editorLabelColor;
}

.yasgui .yasr .dataTables_wrapper .dtTopHeader {
	padding: 7px 7px 7px 0;
}

.yasgui .yasr .dataTables_wrapper .dataTables_info {
	border: none !important;
	margin: 0;
	padding: 7px;
}

.yasgui .yasr table.dataTable {
	border: none;
	border-collapse: collapse;
}

.yasgui .yasr table.dataTable thead th {
	background: $editorContentColor !important;
	border-right: none;
	border-left: 1px solid $editorBackgroundColor;
	border-bottom: 1px solid $editorBackgroundColor;
	color: $editorLabelColor;
}

.yasgui .yasr table.dataTable tbody td {
	padding: 5px 10px;
	font-family: 'Roboto';
	background: $editorContentColor;
	border-left: 1px solid $editorBackgroundColor;
	border-bottom: 1px solid $editorBackgroundColor;
}

.yasgui .yasr table.dataTable tbody tr td:first-child {
	text-align: center;
	color: $editorTextColor;
}

.yasgui .yasr .CodeMirror {
	background: $editorContentColor;
	margin: 0 !important;
}

.yasgui .yasr .yasr_header {
	padding-bottom: 5px;
}

.yasgui .yasr table.dataTable tbody tr td a {
	color: $editorTextColor;
}

.yasgui .yasr .nonUri {
	color: $editorTextColor;
}

.yasgui .yasr sup {
	color: $labelTextColor;
}

.openGchartBtn {
	position: relative;
	right: 47px;
	top: -45px !important;
}

.yasgui ::-webkit-scrollbar {
	width: $scrollbarSize;
	/* for vertical scrollbars */
	height: $scrollbarSize;
	/* for horizontal scrollbars */
}

.yasgui ::-webkit-scrollbar-track {
	background: transparent;
}

.yasgui ::-webkit-scrollbar-thumb {
	background: $editorLabelColor;
	border: 2px solid $editorBackgroundColor;
}

.yasgui ::-webkit-scrollbar-thumb:hover {
	background: lighten($editorLabelColor, 10%);
}


/* CONNECTION SPINNER */

.spinner.connecting {
	display: inline-block;
	margin: 0 3px 0 0;
	width: 20px;
	height: 16px;
	font-size: 10px;
	position: relative;
	top: 3px;
	left: 0;
	transform: none;
}

.spinner.connecting>div {
	background-color: $textColor;
	height: 100%;
	width: 4px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.modal-dialog .spinner.connecting>div {
	background-color: white;
}

.spinner.connecting .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner.connecting .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner.connecting .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner.connecting .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.spinner.loading,
.spinner.loading:before,
.spinner.loading:after {
	border-radius: 50%;
}

.spinner.loading:before,
.spinner.loading:after {
	position: absolute;
	content: '';
}

.spinner.loading:before {
	width: 5.2em;
	height: 10.2em;
	background: #222;
	border-radius: 10.2em 0 0 10.2em;
	top: -0.1em;
	left: -0.1em;
	-webkit-transform-origin: 5.2em 5.1em;
	transform-origin: 5.2em 5.1em;
	-webkit-animation: load2 2s infinite ease 1.5s;
	animation: load2 2s infinite ease 1.5s;
}

.spinner.loading {
	color: $labelTextColor;
	font-size: 5px;
	text-indent: -99999em;
	margin: 55px auto;
	position: relative;
	width: 10em;
	height: 10em;
	box-shadow: inset 0 0 0 1em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.spinner.loading:after {
	width: 5.2em;
	height: 10.2em;
	background: #222;
	border-radius: 0 10.2em 10.2em 0;
	top: -0.1em;
	left: 5.1em;
	-webkit-transform-origin: 0px 5.1em;
	transform-origin: 0px 5.1em;
	-webkit-animation: load2 2s infinite ease;
	animation: load2 2s infinite ease;
}

.cfp-hotkeys-close {
	display: none;
}

.cfp-hotkeys-container {
	background: rgba($windowBackgroundColor, .75);
	margin-top: $headerHeight + $toolbarHeight;
}

.cfp-hotkeys-key {
	border: none;
	background: $headerBackgroundColor;
	color: $headerTextColor;
	box-shadow: none;
}

.cfp-hotkeys-text {
	color: $textColor;
}

@media screen and (max-width: 991px) {
	.body-wrapper {
		top: 47px;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.ui-pane-right {
		display: none;
	}
	.ui-pane-left {
		position: absolute;
		bottom: -43px;
		left: 0;
		right: 0;
		width: 100% !important;
		height: 200px;
		z-index: 10;
		border: none;
	}
	.ui-pane-center {
		position: absolute !important;
		top: 0;
		bottom: 200px;
		left: 0;
		right: 0;
	}
	#ctl-history {
		bottom: 0;
	}
	.comment-input {
		display: none;
	}
	.footer .toolbar {
		bottom: 201px;
	}
}

.fullscreen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.spinner {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#spinner-container {
	background-color: #1D1D1D;
	z-index: 15;
}

#error-container {
	background-color: #1D1D1D;
	z-index: 10;
}

.error-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// BOUNCE ANIMATION
.bounce {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(1.0)
	}
	50% {
		-webkit-transform: scale(0.7)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(1.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(0.7);
	}
}

// WINDOW
#window.win.maximized>.layout-root {
	margin: 5px;
}

.window-title-btns {
	-webkit-app-region: no-drag;
	color: $headerTextColor;
	height: $windowTitlebarHeight;
}

.window-title-btns .btn-title {
	height: $windowTitlebarHeight;
	background-color: transparent;
	border: none;
	border-radius: 0;
	color: #F1F1F1;
	opacity: .5;
	position: relative;
}

.window-title-btns.win {
	float: right;
}

.window-title-btns.win .btn-title {
	width: 45px;
	padding: 0;
	margin: 0;
}

.window-title-btns.win .btn-title:hover {
	background-color: #3F3F41;
	opacity: 1;
}

.window-title-btns.win .btn-control {
	width: 100%;
	height: 100%;
}

.window-title-btns.win .btn-min .btn-control {
	background: url('resources/img/windows/btn-minimize.png') center center no-repeat;
}

.window-title-btns.win .btn-max .btn-control {
	background: url('resources/img/windows/btn-maximize.png') center center no-repeat;
}

.window-title-btns.win .btn-max.maximized .btn-control {
	background: url('resources/img/windows/btn-restore.png') center center no-repeat;
}

.window-title-btns.win .btn-close .btn-control {
	background: url('resources/img/windows/btn-close.png') center center no-repeat;
}

.window-title-btns.win .btn-close:hover {
	background: #E81123;
}

.window-title-btns.mac {
	float: left;
	padding-left: 5px;
}

.window-title-btns.mac .btn-title {
	opacity: 1;
	width: 20px;
	margin: 0;
}

.window-title-btns.mac .btn-title:hover {
	background: transparent;
}

.window-title-btns.mac .btn-control {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	transition: all ease-out .1s;
}

.window-title-btns.mac .btn-control:hover {
	width: 16px;
	height: 16px;
}

.window-title-btns.mac .btn-close .btn-control {
	background: #FD5F58;
}

.window-title-btns.mac .btn-min .btn-control {
	background: #FEBC2E;
}

.window-title-btns.mac .btn-max .btn-control {
	background: #27CA41;
}

.window-title-btns #btn-update {
	background: $accentColor;
	color: $accentTextColor;
	display: none;
	opacity: .9 !important;
	text-shadow: none;
	transition: opacity linear .2s;
	width: auto;
	padding: 0 10px;
}

.window-title-btns #btn-update .btn-label {
	display: none;
	font-size: 12px;
	padding-left: 5px;
	position: relative;
	bottom: 1px;
}

.window-title-btns #btn-update .zmdi {
	font-size: 15px;
}

.window-title-btns #btn-update.disabled {
	opacity: 0 !important;
	cursor: default;
}

.window-title-container .loader.loader-xs {
	border-top: 2px solid rgba($headerTextColor, 0.2);
	border-right: 2px solid rgba($headerTextColor, 0.2);
	border-bottom: 2px solid rgba($headerTextColor, 0.2);
	border-left: 2px solid $headerTextColor;
}

#window-view-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0;
}

#window-view-container>.ng-scope {
	display: block;
	width: 100%;
	height: 100%;
}

// art-window-titlebar
.art-window-titlebar {
	-webkit-app-region: drag;
	padding: 0;
	min-height: $windowTitlebarHeight;
}

.art-window-titlebar .md-button {
	-webkit-app-region: no-drag !important;
	margin: 0;
	min-height: $windowTitlebarHeight;
	line-height: $windowTitlebarHeight;
	vertical-align: middle;
}

.art-window-titlebar .window-title {
	padding-left: 10px;
	padding-right: 10px;
}

.art-window-titlebar .md-button.md-button-icon {
	min-width: 45px;
}

// art-file-card
.art-file-card-container {
	padding: 5px;
	border-radius: 5px;
	background-color: transparent;
	@include transitionEaseInOutCubic(background-color, 300ms);
}

.art-file-card-container.selected,
.art-file-card-container:hover {
	background-color: rgba(0,0,0,.05);
}

.art-file-card-container .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background: transparent;
	//background: rgba(255,255,255,.25);
	@include transitionEaseInOutCubic(opacity, 300ms);
}

.art-file-card-container:hover .overlay,
.art-file-card-container.selected .overlay {
	opacity: 1;
}

.art-file-card {
	max-width: 450px;
	min-width: 225px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
}

.art-file-card img {
  width: 100%;
  object-fit: cover;
}

.art-file-card .file-extension {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 5px;
	text-transform: uppercase;
	border-radius: 5px;
	text-align: center;
	font-size: 10px;
	min-width: 50px;
	background: transparent;
	color: transparent;
}

.art-file-card .file-extension .zmdi {
	color: white;
}

.art-file-card .file-extension.psd {
	background: #0EBFF4;
	color: white;
}

.art-file-card .file-extension.ai {
	background: #F67C07;
	color: white;
}

.art-file-card .file-extension.pdf {
	background: #EA2006;
	color: white;
}

.art-file-card .file-extension.svg {
	background: #005A9C;
	color: white;
}

// art-search-input
.art-search-input {
	border-radius: 5px;
	@include transitionEaseInOutCubic(all, 500ms);
	width: 200px;
}

.art-search-input.focused {
	width: 300px;
}

.art-search-input md-autocomplete-wrap {
	border: none;
	box-shadow: none;
}

.art-search-input md-autocomplete-wrap:before {
	font-size: $iconFontSize;
	font-family: $iconFont;
	content: "\f1c3";
	line-height: 1;
	padding: 8px 0px 0px 8px;
	font-weight: normal;
	font-size: 24px;
	color: #777;
}

.art-search-input-menu-container {
	display: none !important;
}

.masonry-brick {
	margin-bottom: 15px;
}