<div ng-controller="FileDetailController as fileDetail">
	<div class="header">
		<div class="visual img-icon">
		</div>

		<h5 class="title">file.FileName</h5>
	</div>
	<div class="body">
	</div>
	<div class="footer">
		<div class="playback-toolbar">
			<div class="col-playback-controls">
				<div class="center-parent">
					<div class="btn btn-skip-prev" ng-click="skipPrev()"><i class="zmdi zmdi-hc-fw"></i></div>
					<div class="btn btn-play" ng-click="togglePlay()"><i class="zmdi zmdi-hc-fw"></i></div>
					<div class="btn btn-skip-next" ng-click="skipNext()"><i class="zmdi zmdi-hc-fw"></i></div>
				</div>
			</div>
			<div class="col-playback-chart">
			</div>
		</div>
	</div>
</div>