@Master['master']
@Section['Title']
Home
@EndSection

@Section['Content']
<div ng-app="Journal">

    <div ng-controller="ItemListController as itemList">
        <h2>Journal</h2>
        <span>{{items.length}}</span>
        <ul class="unstyled">
            <li ng-repeat="i in items">
                <button ng-click="select(i.FileName)"><span>{{i.FileName}}</span></button> 
            </li>
        </ul>
    </div>

    <div ng-controller="ActivityController" >
        <h2>Activities</h2>
        <span>{{items.length}}</span>
        <ul class="unstyled">
            <li ng-repeat="i in items">
                <span>{{i.FileName}}</span>
            </li>
        </ul>
    </div>

</div>
@EndSection

@Section['Script']
   <script src="@Path['/Content/js/artivity.js']"></script>
    <script src="@Path['/Content/js/journal.js']"></script>
@EndSection

