<div class="ctl-emoticon-panel" ng-class="{'panel-visible': t.show}">
    <div class="ctl-emoticon-picker scroll-container scroll-y layout-fix" scroll-glue>
        <div layout="column">
            <div ng-repeat="section in t.sections | reverse">
                <h5 class="md-subhead text-center">{{section.title}}</h5>
                <md-grid-list md-cols="10" md-gutter="5px" md-row-height="40px">
                    <md-grid-tile ng-repeat="emoticon in section.emoticons | reverse">
                        <md-button ng-click="t.select(emoticon)" emojione="{{emoticon}}">
                        </md-button>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </div>
</div>