<h5 style="margin-top: 1em;" translate>Layers</h5>
<md-list flex>
    <md-list-item ng-repeat="layer in t.layers | reverse" ng-class="{translucent: !layer.visible}" class="no-padding">
        <div layout="row" layout-align="start center">
            <md-button class="md-icon-button" ng-click="t.toggleLayerVisibility(layer)">
                <md-icon md-font-icon="zmdi zmdi-eye"></md-icon>
            </md-button>
            <div flex>
                <label>{{layer.label}}</label>
            </div>
        </div>
    </md-list-item>
</md-list>