<form name="projectForm" ng-submit="t.save()">
	<div class="row">
		<div class="col-xs-12">
			<div class="container padding-x-xl padding-y-xl">
				<h2 class="modal-title">Archive '<span ng-bind="t.project.Title"></span>'?</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="layout-container padding-x-xl">
				<p class="description">The project will be marked as archived and no content will be deleted.<br> You can restore the project at any time in the future.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="toolbar pull-right">
				<button class="btn btn-success" type="submit" ng-click="t.commit()"><i class="zmdi zmdi-check"></i></button>
				<button class="btn" ng-click="t.cancel()"><i class="zmdi zmdi-close"></i></button>
			</div>
		</div>
	</div>
</form>