<md-content class="layout-root" layout="column" ng-show="t.selectedTopic === null" ng-cloak>
    <md-list flex>
        <md-list-item ng-repeat="topic in t.topics" ng-mouseenter="t.showMarks(topic)" ng-mouseleave="t.hideMarks(topic)">
            <div layout="row" layout-align="start center" flex>
                <div ng-click="t.selectTopic(topic)" flex>
                    <span class="title">{{topic.title}}</span>
                </div>
                <md-button class="md-icon-button" ng-click="t.createMark(topic)">
                    <md-icon md-font-icon="zmdi zmdi-photo-size-select-small"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="t.deleteTopic(topic)">
                    <md-icon class="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div class="ctl-topic padding-x-xs padding-y-xs">
        <input type="text" class="form-control stretch-horizontal no-margin" style="margin-bottom: 5px;" placeholder="{{'Create a new topic' | translate}}"
            ng-model="t.newTopic.title" ng-change="t.updateTopic(t.newTopic)" ng-enter="t.postTopic(t.newTopic)" ng-esc="t.resetTopic()"></input>
    </div>
</md-content>
<md-content class="layout-root" layout="column" ng-show="t.selectedTopic !== null" ng-cloak>
    <div class="md-toolbar" layout="row">
        <md-button ng-click="t.selectTopic(null)">
            <md-icon md-font-icon="zmdi zmdi-chevron-left"></md-icon>
        </md-button>
        <div class="title" flex>
            {{t.selectedTopic.title}}
        </div>
    </div>
    <div class="layout-container" flex>
        <art-chat-comment-list entity-uri="t.selectedTopic.uri"></art-chat-comment-list>
    </div>
</md-content>