<form name="form">
    <div layout="row" layout-align="start center" style="min-height: 75px">
        <div translate flex>
            Connect your online accounts to benefit from additional features:
        </div>

        <md-button ng-click="addAccount($event)">
            <md-icon md-font-icon="zmdi zmdi-plus zmdi-lg"></md-icon>
            <span translate>Add account</span>
        </md-button>
    </div>
    
    <ul class="list-view">
        <li class="list-item" ng-repeat="a in accounts" ng-click="selectAccount(a)">
            <div class="col col-icn col-icn-lg">
                <i class="zmdi zmdi-account zdmi-lg"></i>
            </div>
            <div class="col expand">
                <div style="padding: 9px">
                    <h5>{{a.Title}}</h5>
                    <label>{{a.Id}}</label>
                </div>
            </div>
            <div class="col col-btn" style="vertical-align: middle">
                <md-button class="md-button-icon" ng-click="uninstallAccount(a)">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
        </li>
    </ul>
</form>