<div class="layout-root table-layout">
	<div class="row header">
		<div class="toolbar">
			<div class="col">
				<a class="btn btn-header" href="#/files"><i class="zmdi zmdi-chevron-left"></i></a>
			</div>
			<div class="col">
				<div class="icn" style="width: 32px; height: 32px; margin-left: 5px;">
					<img ng-src="{{t.agent.iconUrl}}" width="32" height="32" />
				</div>
			</div>
			<div class="col expand">
				<h5 class="title">{{t.file.label}}</h5>
			</div>
			<div class="col">
				<a id="publish-btn" class="btn btn-header" ng-click="t.publishFile()" uib-tooltip="Publish" tooltip-placement="bottom" tooltip-popup-delay="1000">
					<i class="zmdi zmdi-hc-fw zmdi-cloud-upload"></i>
				</a>
			</div>
			<div class="col">
				<a id="export-btn" class="btn btn-header" ng-click="t.exportFile()" uib-tooltip="Export" tooltip-placement="bottom" tooltip-popup-delay="1000">
					<i class="zmdi zmdi-hc-fw zmdi-archive"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row expand" id="content">
		<div class="layout-container ui-pane-container">
			<div class="ui-resizable ui-pane ui-pane-left">
				<div class="pane-content">
					<div class="table-layout">
						<div class="row expand">
							<div class="scroll-container scroll-y">
								<art-editing-history agent="t.agent" influences="t.influences" activities="t.activities"></art-editing-history>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="ctl-comment" ng-show="false">
							<textarea id="msg-txt" placeholder="{{ 'FILEVIEW.WRITE_MSG' | translate }}"
								ng-model="t.comment.text"
								ng-change="t.updateComment()"
								ng-enter="t.postComment()"
								ng-esc="t.resetComment(true)"
								ng-blur="t.resetComment(false)"
								required>
							</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-resizable ui-pane ui-pane-center">
				<canvas id="canvas" class="ui-ui-pane ui-layout-center" width="640" height="480"></canvas>
			</div>
			<div class="ui-resizable ui-pane ui-pane-right">
				<div class="pane-content">
					<ul class="nav nav-tabs nav-tabs-top tablist" id="tabs-right" role="tablist">
						<li role="presentation" class="active"><a data-target="#statistics" role="tab" data-toggle="tab">{{'FILEVIEW.STATISTICS' | translate}}</a></li>
					</ul>
					<div class="tab-content padding-md padding-x padding-y">
						<div role="tabpanel" class="tab-pane fade active in" id="statistics">
							<art-editing-stats stats="t.selectedInfluence.stats"></art-editing-stats>
							<art-layer-control layers="t.selectedInfluence.stats.layers"></art-layer-control>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row footer" style="height: 50px;">
		<art-playback-control id="playback-control" activities="t.activities" influences="t.influences" selected-influence="t.selectedInfluence"></art-timeline>
	</div>
</div>