<script src="bower_components/EaselJS/lib/easeljs-0.8.2.min.js" type="text/javascript"></script>
<script src="bower_components/color-thief/dist/color-thief.min.js" type="text/javascript"></script>

<div ng-controller="FileViewController as fileView">
	<div id="header">
		<div class="row">
			<div class="col">
				<a class="btn btn-header" href="#/files"><i class="zmdi zmdi-chevron-left"></i></a>
			</div>
			<div class="col">
				<div class="icn" style="width: 32px; height: 32px; margin-top: 10px; margin-left: 5px;">
					<img ng-src="{{agent.iconUrl}}" width="32" height="32" />
				</div>
			</div>
			<div class="col expand">
				<h5 class="title">{{file.label}}</h5>
			</div>
			<div class="col">
				<a id="export-btn" class="btn btn-header" ng-click="publishFile()"><i class="zmdi zmdi-hc-fw zmdi-cloud-upload"></i></a>
			</div>
			<div class="col">
				<a id="export-btn" class="btn btn-header" ng-click="exportFile()"><i class="zmdi zmdi-hc-fw zmdi-archive"></i></a>
			</div>
		</div>
	</div>

	<div id="body-wrapper" class="bottom-toolbar">
		<div id="body">
			<div class="ui-resizable ui-pane ui-pane-left">
				<div class="pane-content padded">
					<!-- Note: The tabindex is required for the div to be focusable. -->
					<div class="ctl-history" ng-keydown="historyKeyDown($event)" tabindex="0">
						<style type="text/css" art-style-binder art-accent-color="agent.color">
							.lst-activities li a.default:hover,
							.lst-activities li.selected a.default {
								background: $accentColor;
							}
							
							.lst-activities li a.default:hover label,
							.lst-activities li a.default:hover i,
							.lst-activities li.selected a.default label,
							.lst-activities li.selected a.default i {
								color: white;
							}
							
							.lst-activities li a.comment:hover .txt,
							.lst-activities li.selected a.comment .txt {
								background: $accentColor;
								color: white;
							}
							
							.lst-activities li a.comment:hover .tip.tip-left,
							.lst-activities li.selected a.comment .tip.tip-left {
								border-top-color: $accentColor;
								border-right-color: $accentColor;
							}
							
							.lst-activities li a.comment:hover .tip.tip-right,
							.lst-activities li.selected a.comment .tip.tip-right {
								border-top-color: $accentColor;
								border-left-color: $accentColor;
							}
						</style>

						<ul class="lst-activities list-unstyled">
							<li ng-repeat="activity in activities">
								<div class="activity-header">
									<div class="time" ng-class="{collapsed: !activity.showDate}">
										<label>{{getFormattedDate(activity.startTime)}}</label>
									</div>

									<div class="session" ng-class="{collapsed: activity.isComment}">
										<!--<img class="icn" ng-src="{{agent.iconUrl}}" width="24" height="24">-->

										<label>{{'FILEVIEW.EDITING_SESSION' | translate}}</label>

										<!--<label class="time pull-right small">{{activity.totalTime | amDateFormat:'h[h] m[m]'}}</label>-->
									</div>
								</div>

								<ul class="lst-influences list-unstyled">
									<li ng-repeat="influence in activity.influences" ng-class="{selected: influence == selectedInfluence}">
										<div ng-switch="influence.type">
											<div ng-switch-when="http://w3id.org/art/terms/1.0/Comment">
												<a class="comment" ng-click="previewInfluence(influence)">
													<div>
														<div class="avatar"><img ng-src="{{user.photoUrl}}" /></div>
														<div class="txt">{{influence.comment}}</div>
														<span class="tip tip-right"></span>
													</div>

													<label class="time pull-right small">{{getFormattedTime(influence.time)}}</label>
												</a>

												<div class="clearfix"></div>
											</div>
											<div ng-switch-default>
												<a class="default" ng-click="previewInfluence(influence)">
													<label class="type">
														<i class="zmdi icn icn-transparent" ng-class="getIcon(influence)"></i> {{getLabel(influence)}}
													</label>

													<label class="time pull-right small">{{getFormattedTime(influence.time)}}</label>
												</a>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="ctl-comment">
						<textarea id="msg-txt" ng-model="comment.text" placeholder="{{ 'FILEVIEW.WRITE_MSG' | translate }}" ng-change="updateComment()" ng-enter="postComment()" ng-esc="resetComment(true)" ng-blur="resetComment(false)" required></textarea>
					</div>
				</div>
			</div>

			<div class="ui-resizable ui-pane ui-pane-center">
				<canvas id="canvas" class="ui-ui-pane ui-layout-center" width="640" height="480"></canvas>
			</div>

			<div class="ui-resizable ui-pane ui-pane-right">
				<div class="pane-content">
					<ul class="nav nav-tabs nav-tabs-top tablist" id="tabs-right" role="tablist">
						<li role="presentation" class="active"><a data-target="#statistics" role="tab" data-toggle="tab">{{'FILEVIEW.STATISTICS' | translate}}</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane padded fade active in" id="statistics">
							<h5>{{'FILEVIEW.EDITING' | translate}}</h5>
							<table style="width: 90%;">
								<tr>
									<td>
										<label>{{'FILEVIEW.CONFIDENCE' | translate}}</label>
									</td>
									<td><span class="pull-right">{{selectedInfluence.stats.confidence()}}</span></td>
									<td width="20">&nbsp;%</td>
								</tr>
								<tr>
									<td>
										<label>{{'FILEVIEW.STEPS' | translate}}</label>
									</td>
									<td><span class="pull-right">{{selectedInfluence.stats.stepCount}}</span></td>
									<td></td>
								</tr>
								<tr>
									<td>
										<label>{{'FILEVIEW.UNDOS' | translate}}</label>
									</td>
									<td><span class="pull-right">{{selectedInfluence.stats.undoCount}}</span></td>
									<td></td>
								</tr>
								<tr>
									<td>
										<label>{{'FILEVIEW.REDOS' | translate}}</label>
									</td>
									<td><span class="pull-right">{{selectedInfluence.stats.redoCount}}</span></td>
									<td></td>
								</tr>
							</table>

							<h5 style="margin-top: 1em;">{{'FILEVIEW.COMPOSITION' | translate}}</h5>
							<table style="width: 90%;">
								<tr>
									<td>
										<label>{{'FILEVIEW.LAYERS' | translate}}</label>
									</td>
									<td><span class="pull-right">{{selectedInfluence.stats.layers.length}}</span></td>
									<td width="20"></td>
								</tr>
								<tr>
									<td>
										<label>{{'FILEVIEW.GROUPS' | translate}}</label>
									</td>
									<td><span class="pull-right">0</span></td>
									<td></td>
								</tr>
								<tr>
									<td>
										<label>{{'FILEVIEW.MASKED' | translate}}</label>
									</td>
									<td><span class="pull-right">0</span></td>
									<td></td>
								</tr>
								<tr>
									<td>
										<label>{{'FILEVIEW.CLIPPED' | translate}}</label>
									</td>
									<td><span class="pull-right">0</span></td>
									<td></td>
								</tr>
							</table>

							<h5 style="margin-top: 1em;">{{'FILEVIEW.COLOURS' | translate}}</h5>
							<ul class="list-unstyled">
								<li ng-repeat="color in palette">
									<div style="width: 30px; height: 30px; margin-right: 5px; margin-bottom: 5px; float: left; background: rgb({{color[0]}},{{color[1]}},{{color[2]}});"></div>
								</li>

								<div class="clearfix"></div>
							</ul>

							<h5 style="margin-top: 1em;">{{'FILEVIEW.LAYERS' | translate}}</h5>
							<ul class="list-unstyled">
								<li ng-repeat="layer in selectedInfluence.stats.layers | reverse">
									<label><i class="zmdi zmdi-layers icn icn-transparent"></i> {{layer.label}}</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="row">
			<div class="col">
				<a class="btn btn-skip-prev" ng-click="skipPrev()"><i class="zmdi zmdi-skip-previous"></i></a>
			</div>
			<div class="col">
				<a class="btn btn-toggle-play" ng-click="togglePlay()"><i class="zmdi" ng-class="{'zmdi-pause': playing, 'zmdi-play': !playing}"></i></a>
			</div>
			<div class="col">
				<a class="btn btn-skip-next" ng-click="skipNext()"><i class="zmdi zmdi-skip-next"></i></a>
			</div>
			<div class="col expand">
				<div art-timeline art-activities-src="activities" art-influences-src="influences"></div>
			</div>
		</div>
	</div>

	<script>
		$(function () {
			$(document).ready(function () {
				updateCanvas();

				$(".ctl-history").focus();
			});

			// Make the left and right panes resizable.
			$(".ui-pane-left").resizable({
				handles: "e"
			});
			$(".ui-pane-left").resize(updateCanvas);
			$(".ui-pane-right").resizable({
				handles: "w",
				resize: function (event, ui) {
					// Only resize the width of the element.
					if (ui.position.left < 0) {
						ui.size.width = ui.originalSize.width + Math.abs(ui.position.left);
					}

					// Do not use the left CSS property at all because it breaks the table layout.
					ui.position.left = 0;
				}
			});
			$(".ui-pane-right").resize(updateCanvas);

			// Update the canvas every time the window is resized.
			window.addEventListener('resize', updateCanvas, false);

			// Prevent navigation when the user clicks on tab headers.
			$('.tablist a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});

		function updateCanvas() {
			var buffer = document.getElementById("canvas");

			// To prevent flickering, store the current context before setting the size.
			var bufferContext = buffer.getContext('2d');

			// Fit the canvas into its parent.
			var container = $(buffer);

			// Create temp canvas and context
			var temp = document.createElement('canvas');
			temp.width = $(buffer).width();
			temp.height = $(buffer).height();

			// Draw current canvas to temp canvas.
			var tempContext = temp.getContext("2d");
			tempContext.drawImage(bufferContext.canvas, 0, 0);

			// Now resize the canvas.					
			buffer.width = $(buffer).width();
			buffer.height = $(buffer).height();

			// Draw temp canvas back to the current canvas
			bufferContext.drawImage(tempContext.canvas, 0, 0);

			// Update the buffer.
			var scope = angular.element(buffer).scope();

			if (scope.selectedInfluence) {
				scope.renderInfluence(scope.selectedInfluence);
			}
		}
	</script>
</div>