<div ng-controller="FileListController as fileList">
	<div id="header">
		<div class="row">
			<div class="col">
				<img class="icn icn-circle" style="margin: 0 4px;" ng-src="{{userPhotoUrl}}" />
			</div>
			<div class="col expand" style="padding: 0;">
				<label class="title pull-left" style="margin: 0; padding: 0; position: relative; top: 7px;">{{user.Name}}</label>
			</div>
			<div class="col">
			</div>
			<!--
			<div class="col">
				<a id="calendar-btn" class="btn btn-header" ng-click="toggleCalendar()"><i class="zmdi zmdi-hc-fw zmdi-calendar"></i></a>
			</div>
			-->
			<div class="col">
				<a class="btn btn-header" href="#/settings"><i class="zmdi zmdi-hc-fw"></i></a>
			</div>
		</div>
	</div>

	<div id="body-wrapper">
		<div id="body" class="scroll-vertical">
			<div ng-switch on="files.length > 0">
				<div ng-switch-when="true">
					<ul id="file-list" class="cards">
						<li class="card" ng-repeat="file in files">
							<div class="file-thumbnail-container">
								<div class="file-thumbnail" style="background-image: url({{getFileThumbnailUrl(file.uri)}});"></div>
							</div>
							<div class="file-name">{{getFileNameWithoutExtension(file.label)}}</div>
							<div class="file-extension" style="background-color: {{file.agentColor}};">{{getFileExtension(file.label)}}</div>
							<a href="#/files/view?uri={{file.uri}}"></a>
						</li>
					</ul>
				</div>
				<div ng-switch-default class="text-center">
					<h3 style="margin-top: 5em;">Your recent files will appear here.</h3>
				</div>
			</div>
		</div>
	</div>
</div>