<div ng-controller="QueryController as queryView">
	<div id="header">
		<div class="row">
			<div class="col">
				<a class="btn" href="#/files"><i class="zmdi zmdi-hc-fw"></i></a>
			</div>

			<div class="col expand">
				<h5 class="title">SPARQL Query</h5>
			</div>
		</div>
	</div>

	<div id="body">
		<form target="{{endpoint}}" method="post">
			<textarea id="editor"></textarea>
		</form>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			var editor = document.getElementById("editor");

			console.log(editor);

			//var yasgui = YASGUI(editor);
		});
	</script>
</div>