<div class="header-tabs">
    <uib-tabset>
        <uib-tab ng-click="t.selectProject(null)">
            <uib-tab-heading>
                <i class="zmdi zmdi-lg zmdi-time-restore"></i>
            </uib-tab-heading>

            <art-file-list></art-file-list>
        </uib-tab>
        <uib-tab ng-repeat="project in t.projects" ng-click="t.selectProject(project)">
            <uib-tab-heading>
                <a class="btn btn-close pull-right" ng-click="t.closeProject(project)">
                    <i class="zmdi zmdi-xs zmdi-close"></i>
                </a>

                <div ng-bind="project.Name" style="min-width: 130px;"></div>
            </uib-tab-heading>

            <art-file-list></art-file-list>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <i class="zmdi zmdi-lg zmdi-plus"></i>
            </uib-tab-heading>

            <art-project-header create="true"></art-project-header>
        </uib-tab>
    </uib-tabset>
</div>