<div class="window-title-btns">
    <button class="btn-title btn-min" uib-tooltip="Minimize" tooltip-placement="bottom" tooltip-popup-delay="1000"><div class="btn-control"></div></button>
    <button class="btn-title btn-max" uib-tooltip="Maximize" tooltip-placement="bottom" tooltip-popup-delay="1000"><div class="btn-control"></div></button>
    <button class="btn-title btn-close" uib-tooltip="Close" tooltip-placement="bottom" tooltip-popup-delay="1000"><div class="btn-control"></div></button>
</div>