<div ng-switch="t.clientState">
    <div ng-switch-when="1">
        <div class="spinner connecting">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
        </div>
        <span>Connecting..</span>
    </div>
    <div ng-switch-when="2">
        <i class="zmdi zmdi-check zmdi-sm"></i> Authorization successful.
    </div>
    <div ng-switch-when="3">
        <i class="zmdi zmdi-alert-triangle zmdi-sm"></i> Wrong username or password.
    </div>
    <div ng-switch-when="4">
        <i class="zmdi zmdi-alert-triangle zmdi-sm"></i> Connection error.
    </div>
</div>