Source: artivity-apid
Section: misc
Priority: optional
Maintainer: Sebastian Faubel <sebastian@semiodesk.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://bitbucket.org/semiodesk/artivity
#Vcs-Git: git://git.debian.org/collab-maint/artivity-apid.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/artivity-apid.git;a=summary

Package: artivity-apid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mono-runtime, libmono-system-numerics4.0-cil, libmono-system-runtime-serialization4.0-cil, artivity-datamodel (>= 1.5.16), virtuoso-opensource-6.1
Description: REST API for pushing events into the Artivity RDF database.
 This package contains a lightweight HTTP daemon which provides a
 REST API to push browsing events such as visiting a website into 
 the Artivity RDF database.
