<form name="appsForm">
    <div layout="row" layout-align="start center" style="min-height: 75px">
        <div translate flex>
            Enable or disable the Artivity for the following applications:
        </div>

        <md-button ng-click="t.reload()">
            <md-icon md-font-icon="zmdi zmdi-lg zmdi-refresh-sync"></md-icon>
            <span translate>Refresh</span>
        </md-button>
    </div>

    <div ng-show="t.loading || t.agents.length > 0">
        <uib-accordion class="panel-accordion" close-others="oneAtATime" style="max-width: 500px;">
            <div uib-accordion-group ng-repeat="agent in t.agents">
                <uib-accordion-heading>
                    <div layout="row" layout-align="start center" flex>
                        <img ng-src="{{agent.iconSrc}}" ng-class="{grayscale: !agent.pluginInstalled}" width="40" height="40" style="margin: 0 10px">

                        <h5 style="line-height: 40px; vertical-align: middle" flex>{{agent.name}}</h5>

                        <label class="label-default" ng-show="!agent.hasError && agent.pluginInstalled" translate>
                            Plugin installed
                        </label>
                        <label class="label-default" ng-show="!agent.hasError && !agent.pluginInstalled" translate>
                            Plugin not installed
                        </label>
                        <label class="label-default" ng-show="agent.hasError">
                            <span translate>Error:</span>
                            <span ng-show="agent.errotType != undefined">{{agent.errorType}}</span>
                        </label>
                        <toggle style="padding: 0 10px; font-size: 14px;" on="<i class='zmdi zmdi-check'></i>" off="<i class='zmdi zmdi-close'></i>"
                            ng-model="agent.pluginInstalled" ng-click="t.toggleInstall(agent, $event)">
                        </toggle>
                    </div>
                </uib-accordion-heading>

                <table style="margin-left: 45px; margin-right: 45px; min-width: 100px;" class="pull-left">
                    <tr>
                        <td class="text-left">
                            <art-color-picker selected-color="agent.color"></art-color-picker> <span translate>Colour</span></td>
                    </tr>
                </table>

                <table style="margin-left: 45px; min-width: 250px;">
                    <tr>
                        <td class="text-left" translate>Software version:</td>
                        <td class="text-right">{{agent.softwareVersion}}</td>
                    </tr>
                    <tr>
                        <td class="text-left" translate>Plugin version:</td>
                        <td class="text-right">{{agent.pluginVersion}}</td>
                    </tr>
                </table>
            </div>
        </uib-accordion>
    </div>
    <div ng-show="!t.loading && t.agents.length === 0" class="text-center">
        <div style="padding: 25px 0;">
            <img src="app/resources/img/info.svg" width="100" height="100" style="opacity: .25">
        </div>

        <h3 translate>No compatible software was found on.</h3>
        <a href="https://artivity.online/system-requirements.html" target="_blank" translate>Which software is supported?</a>
    </div>
    <div ng-show="!t.loading && !t.ready" class="container" style="position: absolute; bottom: 0;">
        <div style="margin-left: 100px; display:inline-block; line-height: 40px; vertical-align: middle;">
            <img src="app/resources/img/info.svg" width="30" height="30" style="float: left; opacity: .75; margin: 5px 7px 0 0;">
            <p><b><span translate>No plugins are installed:</span></b> <span translate>Your edited files will not appear in Artivity.</span></p>
        </div>
    </div>
</form>