Source: artivity-datamodel
Section: misc
Priority: optional
Maintainer: Sebastian Faubel <sebastian@semiodesk.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://bitbucket.org/semiodesk/artivity

Package: artivity-datamodel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mono-runtime, libmono-system-runtime4.0-cil, libmono-microsoft-csharp4.0-cil, libmono-system-componentmodel-dataannotations4.0-cil, libmono-system-componentmodel-composition4.0-cil
Description: Runtime data model library for .NET based Artivity applications.
 Runtime data model library for .NET based Artivity applications. Defines
 objects which map to the PROV and NEPOMUK ontologies.
