<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TrinitySettings" type="Semiodesk.Trinity.Configuration.TrinitySettings, Semiodesk.Trinity" />
  </configSections>
  <connectionStrings>
    <add name="virt0" providerName="Semiodesk.Trinity" connectionString="provider=virtuoso;host=localhost;port=1111;uid=dba;pw=dba;rule=urn:semiodesk/ruleset" />
  </connectionStrings>
  <TrinitySettings namespace="Artivity.DataModel">
    <OntologySettings>
      <Ontology Uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" Prefix="rdf">
        <FileSource Location="Ontologies/rdf.rdf" />
      </Ontology>
      <Ontology Uri="http://www.w3.org/2000/01/rdf-schema#" Prefix="rdfs">
        <FileSource Location="Ontologies/rdfs.n3" />
      </Ontology>
      <Ontology Uri="http://www.w3.org/2002/07/owl#" Prefix="owl">
        <FileSource Location="Ontologies/owl.n3" />
      </Ontology>
      <Ontology Uri="http://www.w3.org/ns/prov#" Prefix="prov">
        <FileSource Location="Ontologies/prov.rdf" />
      </Ontology>
      <Ontology Uri="http://www.w3.org/2001/04/infoset#" Prefix="xml">
        <FileSource Location="Ontologies/xml.rdf" />
      </Ontology>
      <Ontology Uri="http://www.semanticdesktop.org/ontologies/2007/08/15/nao#" Prefix="nao">
        <FileSource Location="Ontologies/nao.rdf" />
      </Ontology>
      <Ontology Uri="http://www.semanticdesktop.org/ontologies/2007/01/19/nie#" Prefix="nie">
        <FileSource Location="Ontologies/nie.rdf" />
      </Ontology>
      <Ontology Uri="http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#" Prefix="nfo">
        <FileSource Location="Ontologies/nfo.rdf" />
      </Ontology>
      <Ontology Uri="http://www.semanticdesktop.org/ontologies/2008/05/20/tmo#" Prefix="tmo">
        <FileSource Location="Ontologies/tmo.trig" />
      </Ontology>
      <Ontology Uri="http://w3id.org/art/terms/1.0/" Prefix="art">
        <FileSource Location="Ontologies/art.ttl" />
      </Ontology>
      <Ontology Uri="http://w3id.org/art/terms/1.0/features/" Prefix="artf">
        <FileSource Location="Ontologies/artf.ttl" />
      </Ontology>
      <Ontology Uri="http://w3id.org/art/terms/1.0/synchronization/" Prefix="arts">
        <FileSource Location="Ontologies/arts.ttl" />
      </Ontology>
      <Ontology Uri="http://xmlns.com/foaf/0.1/" Prefix="foaf">
        <FileSource Location="Ontologies/foaf.rdf" />
      </Ontology>
      <Ontology Uri="http://purl.org/dc/elements/1.1/" Prefix="dces">
        <FileSource Location="Ontologies/dcelements.ttl" />
      </Ontology>
      <Ontology Uri="http://rdfs.org/sioc/ns#" Prefix="sioc">
        <FileSource Location="Ontologies/sioc.rdf" />
      </Ontology>
    </OntologySettings>
    <VirtuosoStoreSettings>
      <RuleSets>
        <RuleSet Uri="urn:semiodesk/ruleset">
          <Graphs>
            <Graph Uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" />
            <Graph Uri="http://www.w3.org/2000/01/rdf-schema#" />
            <Graph Uri="http://www.w3.org/2002/07/owl#" />
            <Graph Uri="http://www.w3.org/ns/prov#" />
            <Graph Uri="http://www.w3.org/2001/04/infoset#" />
            <Graph Uri="http://www.semanticdesktop.org/ontologies/2007/01/19/nie#" />
            <Graph Uri="http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#" />
            <Graph Uri="http://xmlns.com/foaf/0.1/" />
            <Graph Uri="http://purl.org/dc/elements/1.1/" />
            <Graph Uri="http://w3id.org/art/terms/1.0/" />
            <Graph Uri="http://w3id.org/art/terms/1.0/synchronization/" />
            <Graph Uri="http://rdfs.org/sioc/ns#" />
          </Graphs>
        </RuleSet>
      </RuleSets>
    </VirtuosoStoreSettings>
  </TrinitySettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
