<md-menu md-offset="-150 48">
    <md-button class="md-button-icon" ng-click="$mdMenu.open($event)" md-padding>
        <ng-letter-avatar ng-if="userAvatar" data="{{userAvatar}}" shape="round" width="28" height="28"></ng-letter-avatar>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item class="md-indent">
            <md-button ui-sref="settings.profile">
                <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                <span translate>Settings</span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>