<div class="toolbar toolbar-dark toolbar-floating" style="margin-right: 5px;">
    <div class="col">
        <a class="btn" ng-click="t.skipPrev()"><i class="zmdi zmdi-skip-previous"></i></a>
    </div>
    <div class="col">
        <a class="btn" ng-click="t.togglePlay()">
            <span ng-switch="t.playing">
                <i ng-switch-when="false" class="zmdi zmdi-play"></i>
                <i ng-switch-when="true" class="zmdi zmdi-pause"></i>
            </span>
        </a>
    </div>
    <div class="col">
        <a class="btn" ng-click="t.skipNext()"><i class="zmdi zmdi-skip-next"></i></a>
    </div>
    <div class="col expand">
        <div class="layout-container">
            <art-playback-slider></art-playback-slider>
        </div>
    </div>
</div>