<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-title class="dialog-title" translate>New project</md-title>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="t.cancel()">
                <md-icon md-font-icon="zmdi zmdi-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-padding" style="width: 600px; height: 400px;">
            <form name="projectForm" novalidate>
                <md-input-container md-no-float class="md-block">
                    <input name="title" ng-model="t.project.Title" placeholder="{{'Title' | translate}}" required>
                    <div ng-messages="projectForm.title.$error">
                        <div ng-message="required">
                            <span translate>Please enter a project title.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <input name="description" ng-model="t.project.Description" placeholder="{{'Description' | translate}}">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <art-color-picker selected-color="t.project.ColorCode"></art-color-picker>
                </md-input-container>

                <art-folder-picker folder="t.project.folder" changed="t.setFolder" flex></art-folder-picker>

                <!--
                <md-subheader class="md-no-sticky" translate>Sharing</md-subheader>

                <md-switch ng-model="t.project.shared" aria-label="Online state" flex>
                    <span translate>Share project on Artivity.Online</span>
                </md-switch>

                <md-switch ng-model="t.project.autoShare" aria-label="Online state" flex>
                    <span translate>Automatically publish new file versions</span>
                </md-switch>
                -->
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div class="md-toolbar" layout="row">
            <md-button ng-click="t.commit()" class="md-primary" ng-disabled="projectForm.$invalid" translate>Save</md-button>
            <md-button ng-click="t.cancel()" translate>Cancel</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>