<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.8.3533" targetFramework="net40" />
  <package id="dotNetRDF.Data.Virtuoso" version="1.0.8.3533" targetFramework="net40" />
  <package id="Eto.Forms" version="2.1.0" targetFramework="net40" />
  <package id="Eto.Platform.Gtk3" version="2.1.0" targetFramework="net40" />
  <package id="Eto.Platform.Mac" version="2.1.0" targetFramework="net40" />
  <package id="Eto.Platform.Wpf" version="2.1.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="OpenLink.Data.Virtuoso" version="7.20.3214.1" targetFramework="net40" />
  <package id="OxyPlot.Core" version="2015.1.1046-alpha" targetFramework="net40" />
  <package id="OxyPlot.GtkSharp3" version="2015.1.1046-alpha" targetFramework="net40" />
  <package id="OxyPlot.Wpf" version="2013.1.11.1" targetFramework="net40" />
  <package id="Semiodesk.Trinity.Core" version="0.9.97" targetFramework="net40" />
  <package id="VDS.Common" version="1.5.0" targetFramework="net40" />
</packages>