<div class="layout-root table-layout">
	<div class="row header">
		<div class="toolbar">
			<div class="col">
				<a class="btn btn-header" href="#/files"><i class="zmdi zmdi-chevron-left"></i></a>
			</div>
			<div class="col">
				<div class="icn" style="width: 32px; height: 32px; margin-left: 5px;">
					<img ng-src="{{t.agent.iconUrl}}" width="32" height="32" />
				</div>
			</div>
			<div class="col expand">
				<h5 class="title">{{t.file.label}}</h5>
			</div>
		</div>
	</div>
	<div class="row expand" id="content">
		<div class="layout-container ui-pane-container">
			<div class="ui-resizable ui-pane ui-pane-center">
				<div class="pane-content">
					<art-document-viewer id="ctl-viewer" file="{{t.fileUri}}"></art-document-viewer>
				</div>
			</div>
			<div class="ui-resizable ui-pane ui-pane-right">
				<div class="pane-content">
					<uib-tabset>
						<uib-tab heading="Comments">
							<div class="layout-container">
								<art-chat-control id="ctl-chat" entity="{{t.fileUri}}"></art-chat-control>
							</div>
						</uib-tab>
						<uib-tab heading="Topics">
							<div class="layout-container">
								<art-topic-control id="ctl-topic" entity="{{t.fileUri}}"></art-topic-control>
							</div>
						</uib-tab>
						<uib-tab heading="Todo">
							<div class="layout-container padding-x-xl padding-y-xl text-center">
								<art-task-control id="ctl-topic" entity="{{t.entity.uri}}"></art-task-control>
							</div>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>