<div class="layout-root table-layout">
	<div class="row header">
		<div class="toolbar">
			<div class="col">
				<a class="btn btn-header" href="#/files"><i class="zmdi zmdi-chevron-left"></i></a>
			</div>
			<div class="col">
				<div class="icn" style="width: 32px; height: 32px; margin-left: 5px;">
					<img ng-src="{{t.agent.iconUrl}}" width="32" height="32" />
				</div>
			</div>
			<div class="col expand">
				<h5 class="title">{{t.file.label}}</h5>
			</div>
		</div>
	</div>
	<div class="row expand" id="content">
		<div class="layout-container">
			<art-document-viewer id="ctl-viewer" class="ui-content" file="{{t.fileUri}}"></art-document-viewer>


		</div>
	</div>
</div>