<div class="row">
	<div class="col-xs-12">
		<div class="container padding-xl padding-x padding-y">
			<h2 class="modal-title">Add Project</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="layout-container padding-xl padding-x">
			<form name="addProjectForm" ng-submit="t.updateProject()">
				<input type="text" class="form-control" id="title" name="title" placeholder="Project title" ng-model="t.project.Title" required>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="toolbar pull-right">
			<button class="btn btn-success" type="submit" ng-click="t.updateProject()" ng-disabled="connectForm.title.$invalid"><i class="zmdi zmdi-check"></i></button>
			<button class="btn" ng-click="t.cancel()"><i class="zmdi zmdi-close"></i></button>
		</div>
	</div>
</div>

