<md-dialog flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate>Add Account</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="t.cancel()">
				<md-icon md-font-icon="zmdi zmdi-close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div ng-switch="t.selectedClient.Uri">
			<div ng-switch-default>
				<div layout="column" class="md-padding">
					<p class="description" translate>Please select the account type to connect with:</p>
					<md-list>
						<md-list-item ng-repeat="client in t.clients" ng-click="t.selectClient(client)">
							<div layout="row">
								<md-icon md-font-icon="zmdi zmdi-account-add" style="font-size: 48px !important; margin-right: 15px;"></md-icon>
								<div class="md-list-item-text md-offset" layout="column">
									<h4>{{client.Title}}</h4>
									<p>{{client.Uri + '.description' | translate}}</p>
								</div>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>
			<div ng-switch-when="http://artivity.online">
				<div layout="column" class="md-padding">
					<form name="connectForm" ng-submit="t.connectAccount(selectedClient)" flex>
						<p class="description"><span translate>Please enter the username and password or your Artivity Online user account:</span></p>
						<input type="hidden" id="url" name="url" ng-init="t.parameter.url = t.selectedClient.ServiceUrl">
						<label style="margin-top: .5em;" translate>Login</label>
						<div class="form-group">
							<input class="form-control form-control-login" type="text" placeholder="Username" id="username" name="username" size="20"
								maxlength="20" ng-model="t.parameter.username" required>
							<input class="form-control form-control-login" type="password" placeholder="Password" id="password" name="password" size="20"
								maxlength="20" ng-model="t.parameter.password" ng-enter="t.connectAccount(selectedClient)" required>
						</div>
					</form>
					<art-client-state-info state="t.clientState"></art-client-state-info>
					<md-button ng-click="t.connectAccount(selectedClient)" ng-disabled="connectForm.url.$invalid || connectForm.username.$invalid || connectForm.password.$invalid || (0 < t.clientState && t.clientState < 3)">
						<span translate>Connect</span>
					</md-button>
				</div>
			</div>
			<div ng-switch-when="http://eprints.org">
				<div layout="column" class="md-padding">
					<form name="connectForm" ng-submit="t.connectAccount(selectedClient)" flex>
						<div class="md-padding" layout="column">
							<p class="description"><span translate>Please enter the server address, username and password</span> <span translate>of the repository:</span></p>

							<md-input-container md-no-float class="md-block">
								<md-icon md-font-icon="zmdi zmdi-globe"></md-icon>
								<input type="text" id="url" name="url" placeholder="http://example.org" ng-model="t.parameter.url" required>
							</md-input-container>

							<label style="margin-top: .5em;" translate>Login</label>
						<div class="form-group">
							<input class="form-control form-control-login" type="text" id="username" name="username" size="20" maxlength="20" placeholder="{{Username | translate}}"
							    ng-model="t.parameter.username" required>

							<input class="form-control form-control-login" type="password" id="password" name="password" size="20" maxlength="20" placeholder="{{Password | translate}}"
							    ng-model="t.parameter.password" ui-keypress="{13:'t.connectAccount(selectedClient)'}" required>
						</div>

						<md-button ng-click="t.connectAccount(selectedClient)" ng-disabled="connectForm.url.$invalid || connectForm.username.$invalid || connectForm.password.$invalid || (0 < t.clientState && t.clientState < 3)">
							<span translate>Connect</span>
						</md-button>
				</div>
				</form>
				<div art-client-state-info state="{{t.clientState}}"></div>
			</div>
		</div>
		<div ng-switch-when="http://orcid.org">
			<div layout="column" class="md-padding">
				<div flex></div>
				<div art-client-state-info state="{{t.clientState}}"></div>
			</div>
		</div>
		</div>
	</md-dialog-content>
</md-dialog>