body {
 font-family: "Arial", "Helvetica", sans-serif;
 font-size: 1em;
 padding: 0 0 40px 0; /* Bottom padding ensures that the footer message does not overlap with the content. */
 margin: 0;
 background: #222;
 color: #ddd;
}

h4 {
 text-transform: uppercase;
 color: #858585;
 font-size: 0.8em;
 font-weight: normal;
 margin: 10px 0 0 0;
}

.disabled {
 opacity: 0.5;
}

.fa {
 margin-right: 7px;
}

#warning-box {
 visibility: collapse;
 display: none;
 color: red;
 text-align: center;
 padding: 10px;
 margin: 10px 0 20px 0;
 border: 1px solid #ffa5a5;
 border-radius: 5px;
}

#watermark {
 z-index: -1;
 position: absolute;
 bottom: 0;
 right: 0;
 opacity: 0.1;
}

#body {
 padding: 0 10px;
}

#subtitle, #footer {
 color: #858585;
}

#settings-list {
 margin: 10px 0;
 padding: 0;
 list-style: none;
}

#settings-list li {
 padding: 15px;
}

#footer {
 position: absolute;
 bottom: 0;
 left: 10px;
 padding: 10px 0;
 font-size: 0.8em;
 text-align: left;
}
