<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="kritaartivity" version="1">
<MenuBar>
  <Menu name="Tools">
    <Menu name="Artivity"><text>Artivity</text>
      <Action name="Recording_Start_Recording_Macro"/>
      <Action name="Recording_Stop_Recording_Macro"/>
    </Menu>
  </Menu>
</MenuBar>
</kpartgui>
