<!-- Note: The tabindex is required for the div to be focusable. -->
<div class="scroll-container scroll-y" style="margin-top: 3px;">
    <div class="ctl-history" tabindex="0">
        <ul class="lst-activities list-unstyled">
            <li ng-repeat="activity in t.activities">
                <div class="activity-header">
                    <div class="time" ng-class="{collapsed: !activity.showDate}">
                        <label>{{t.getFormattedDate(activity.startTime)}}</label>
                    </div>
                    <div class="session" ng-class="{collapsed: activity.isComment}">
                        <!--<img class="icn" ng-src="{{agent.iconUrl}}" width="24" height="24">-->
                        <label translate>Edited File</label>
                        <!--<label class="time pull-right small">{{activity.totalTime | amDateFormat:'h[h] m[m]'}}</label>-->
                    </div>
                </div>
                <ul class="lst-influences list-unstyled">
                    <li ng-repeat="influence in activity.influences track by $index" data-id="{{influence.id}}">
                        <div ng-switch="influence.type">
                            <div ng-switch-when="http://w3id.org/art/terms/1.0/Comment">
                                <a class="comment" ng-click="t.selectInfluence(influence, false)">
                                    <div>
                                        <div class="avatar"><img ng-src="{{t.user.photoUrl}}" /></div>
                                        <div class="txt">{{influence.comment}}</div>
                                        <span class="tip tip-right"></span>
                                    </div>
                                    <label class="time pull-right small">{{t.getFormattedTime(influence.time)}}</label>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-switch-default>
                                <a class="default" ng-click="t.selectInfluence(influence, false)">
                                    <label class="type">
                                    <i class="zmdi icn icn-transparent" ng-class="t.getInfluenceIcon(influence)"></i> {{t.getInfluenceLabel(influence)}}
                                </label>
                                    <label class="time pull-right small">{{t.getFormattedTime(influence.time)}}</label>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>