<div layout="column" ng-model="t.file" jqyoui-draggable="{onStart: 't.onDragStart', onStop: 't.onDragStop'}" data-drag="true" data-jqyoui-options="{opacity:0.7, helper: 'clone', appendTo: 'body', placeholder: 'keep', cursorAt: {top: 5, left: 5}}">
    <md-card class="card" style="position: relative; overflow: hidden">
        <img class="md-card-image link" ng-src="{{t.file.thumbnail}}" alt="{{t.file.label}}" ng-right-click="t.showSheet($event)" ui-sref="document({fileUri: t.file.uri})">

        <h4 class="md-padding no-margin" md-highlight-text="t.highlightText">{{t.file.label}}</h4>

        <md-button ng-click="t.showSheet($event)">
            <md-icon md-font-icon="zmdi zmdi-more"></md-icon>
        </md-button>

        <div ng-if="t.alert">
            <div layout="row" layout-align="center center" class="md-padding">
                {{t.alert}}
            </div>
        </div>
    </md-card>
</div>