<div class="layout-root" layout="column">
    <div class="md-toolbar" layout="row" layout-align="start center">
        <md-autocomplete art-search-input md-search-text="t.query" md-no-cache="true" md-search-text-change="t.filterFiles(t.query)"
            md-items="item in []" md-item-text="item.label" md-menu-container-class="search-input-menu-container" placeholder="{{'Search' | translate}}">
            <md-item-template>
                <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
            </md-not-found>
        </md-autocomplete>

        <div class="title" flex>
        </div>

        <md-button class="md-button-icon" ui-sref="main.view.settings.profile">
            <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
            <md-tooltip translate>Settings</md-tooltip>
        </md-button>

        <md-button class="md-button-icon">
            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
            <md-tooltip translate>More Options</md-tooltip>
        </md-button>
    </div>

    <div class="md-padding" layout="row" layout-align="start center">
        <art-avatar src="t.userPhotoUrl" width="90" height="90" can-change="false"></art-avatar>

        <div class="md-padding md-2-line" flex>
            <h2>{{t.user.Name}}</h2>
            <p>{{t.user.EmailAddress}}</p>
        </div>

        <md-button class="md-button-icon" ng-disabled="!t.user.Username" ng-href="https://artivity.online/{{t.user.Username}}">
            <md-icon md-font-icon="zmdi zmdi-globe"></md-icon>
            <md-tooltip translate>Go Online</md-tooltip>
        </md-button>
    </div>

    <md-tabs class="md-margin" md-border-bottom md-center-tabs flex>
        <md-tab label="{{'Projects' | translate}}">
            <div class="scroll-container scroll-y">
                <md-list>
                    <md-list-item ng-repeat="project in t.projects" ng-click="t.openProject(project)">
                        {{project.Title}}
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
        <md-tab label="{{'Files' | translate}}">
            <div class="scroll-container scroll-y">
                <md-list>
                    <md-list-item ng-repeat="file in t.files" ng-click="null">
                        {{file.label}}
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>
    </md-tabs>
</div>