<div class="table-layout">
    <div class="row">
        <div class="toolbar toolbar-view">
            <a class="btn btn-chromeless" ng-click="t.navigateBack()"><i class="zmdi zmdi-chevron-left"></i></a>
            <div class="txt txt-title">{{t.file.label}}</div>
            <a class="btn btn-primary pull-right" ng-click="t.publishLatestRevision(t.file)"><i class="zmdi zmdi-share"></i><span class="btn-label" translate>Share</span></a>
        </div>
    </div>
    <div class="row expand">
        <div class="layout-container">
            <art-document-history-viewer></art-document-history-viewer>

            <art-document-history-viewer-toolbar style="position: absolute; bottom: 10px; left: 10px; right: 570px;"></art-document-history-viewer-toolbar>

            <div class="ui-sidebar ui-sidebar-right">
                <md-tabs class="layout-root">
                    <md-tab label="{{'History' | translate}}">
                        <md-content>
                            <art-editing-history></art-editing-history>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{'Statistics' | translate}}">
                        <md-content class="padding-x-xl">
                            <art-editing-stats entity-uri="t.latestRevisionUri"></art-editing-stats>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>