<div class="layout-root" layout="column">
    <div class="md-toolbar" layout="row" layout-align="start center">
        <md-button class="md-button-icon" ng-click="t.navigateBack()">
            <md-icon md-font-icon="zmdi zmdi-chevron-left"></md-icon>
        </md-button>

        <div class="title" flex>
            <span>{{t.file.label}}</span>
        </div>

        <md-button class="md-button" ng-click="t.publishLatestRevision(t.file)">
            <i class="zmdi zmdi-share"></i><span class="btn-label" translate>Share</span>
        </md-button>
    </div>

    <div class="layout-container viewer-container" flex>
        <art-document-viewer file="t.file"></art-document-viewer>

        <art-document-viewer-toolbar></art-document-viewer-toolbar>

        <div class="ui-sidebar ui-sidebar-right">
            <md-tabs class="layout-root" md-border-bottom>
                <md-tab label="{{'Chat' | translate}}">
                    <md-content layout="column" layout-fill>
                        <art-chat-comment-list entity-uri="t.latestRevisionUri"></art-chat-comment-list>
                    </md-content>
                </md-tab>
                <md-tab label="{{'Topics' | translate}}">
                    <md-content layout="column" layout-fill>
                        <art-topic-control entity-uri="t.latestRevisionUri"></art-topic-control>
                    </md-content>
                </md-tab>
                <md-tab label="{{'Todo' | translate}}">
                    <md-content layout="column" layout-fill>
                        <art-task-control entity-uri="t.latestRevisionUri"></art-task-control>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
<style type="text/css">
    art-document-viewer-toolbar {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 510px;
        bottom: 10px;
        pointer-events: none;
    }
</style>