<div class="table-layout">
    <div class="row">
        <div class="toolbar toolbar-view">
            <a class="btn btn-chromeless" ng-click="t.navigateBack()"><i class="zmdi zmdi-chevron-left"></i></a>
            <div class="txt txt-title">{{t.file.label}}</div>
            <a class="btn btn-primary pull-right" ng-click="t.publishLatestRevision(t.file)"><i class="zmdi zmdi-share"></i><span class="btn-label" translate>Share</span></a>
        </div>
    </div>
    <div class="row expand">
        <div class="layout-container">
            <art-document-viewer file="t.file"></art-document-viewer>

            <div class="ui-sidebar ui-sidebar-right">
                <uib-tabset class="tabs-centered">
                    <uib-tab heading="{{'Chat' | translate}}">
                        <div class="layout-container">
                            <art-chat-control entity-uri="t.latestRevisionUri"></art-chat-control>
                        </div>
                    </uib-tab>
                    <!--
                    <uib-tab heading="Themen">
                        <div class="layout-container">
                            <art-topic-control entity-uri="t.latestRevisionUri"></art-topic-control>
                        </div>
                    </uib-tab>
                    -->
                    <uib-tab heading="{{'Todo' | translate}}">
                        <div class="layout-container padding-x-xl padding-y-xl text-center">
                            <art-task-control entity-uri="t.latestRevisionUri"></art-task-control>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>