<div class="layout-root" layout="column">
    <div class="md-toolbar" layout="row">
        <md-button class="md-button md-button-icon" ng-click="t.navigateBack()">
            <i class="zmdi zmdi-chevron-left"></i>
        </md-button>
        <div class="title" flex>
            {{t.file.label}}
        </div>
        <md-button class="md-button" ng-click="t.publishLatestRevision(t.file)">
            <i class="zmdi zmdi-share"></i><span class="btn-label" translate>Share</span>
        </md-button>
    </div>

    <div class="layout-container viewer-container" flex>
        <art-document-history-viewer></art-document-history-viewer>

        <art-document-history-viewer-toolbar></art-document-history-viewer-toolbar>

        <div class="ui-sidebar ui-sidebar-right">
            <md-tabs class="layout-root" md-border-bottom>
                <md-tab label="{{'History' | translate}}">
                    <md-content layout="column" layout-fill>
                        <art-editing-history></art-editing-history>
                    </md-content>
                </md-tab>
                <md-tab label="{{'Statistics' | translate}}">
                    <md-content layout="column" layout-fill class="padding-x-xl padding-y-xl">
                        <art-editing-stats></art-editing-stats>
                        <art-layer-control></art-layer-control>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
<style type="text/css">
    art-document-history-viewer-toolbar {
        position: absolute;
        top: 0;
        bottom: 10px;
        left: 10px;
        right: 550px;
        bottom: 10px;
        pointer-events: none;
    }
</style>