<div class="layout-root" layout="column">
    <div layout="row" layout-align="start center">
        <md-autocomplete md-search-text="t.query" md-no-cache="true" md-search-text-change="t.findFiles(t.query)" md-items="item in []"
            md-item-text="item.label" md-menu-container-class="search-input-menu-container" placeholder="{{'Search' | translate}}"
            style="margin-left: 5px;">
            <md-item-template>
                <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
            </md-not-found>
        </md-autocomplete>
        <div flex></div>
<md-menu md-offset="0 42">
            <md-button class="md-button-icon" ng-click="toggleMenu($event, $mdMenu)">
                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item class="md-indent">
                    <md-button aria-label="Archive Project" ng-click="t.deleteProject($event)">
                        <span translate>Delete</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item class="md-indent">
                    <md-button aria-label="Edit Project" ng-click="t.editProject($event)">
                        <span translate>Edit</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

    <div class="layout-container" flex>
        <art-file-list onload="t.getFiles"></art-file-list>
    </div>
</div>

<script type="text/ng-template" id="delete-project-dialog.html">
    <md-dialog aria-label="Project Dialog">
        <md-dialog-content>
            <md-content class="padding-x-xl padding-y-xl">
                <h3>Delete '{{project.Title}}'?</h3>
                <p translate>The project will be archived and no content will be deleted. You can restore the project at any time.</p>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="ok()" class="md-warn">Delete</md-button>
            <md-button ng-click="cancel()" translate>Cancel</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>