<div class="comment-container" ng-mouseenter="t.showMarks(t.comment)" ng-mouseleave="t.hideMarks(t.comment)" ng>
    <div class="comment comment-item" ng-class="{'comment-user': t.isUser, 'comment-request': t.isRequest}">
        <div class="comment-avatar">
            <img src="app/resources/user.svg" width="28" height="28" class="img img-circular">
        </div>
        <div class="comment-bubble">
            <div class="bubble-content"><i class="icon zmdi zmdi-help"></i><span class="text" emojione="{{t.comment.message}}" </span></div>
            <div class="bubble-tip"></div>
            <div class="clearfix"></div>
        </div>
        <div class="comment-time">
            <label class="time pull-right small">{{t.getFormattedTime(t.comment.endTime, 'hh:mm')}}</label>
        </div>

        <a class="btn" ng-show="false" ng-click="t.createMark(t.comment)" style="position: absolute; bottom: 0; right: 0;">
            <i class="zmdi zmdi-photo-size-select-small"></i>
        </a>
    </div>
    <div ng-if="t.enableResponse" ng-switch="t.comment.type">
        <div ng-switch-when="ApprovalRequest">
            <div class="text-center">
                <a class="btn btn-chromeless" ng-click="t.postYes(t.comment)"><i class="zmdi zmdi-thumb-up"></i> <span class="btn-label">Ja</span></a>
                <a class="btn btn-chromeless" ng-click="t.postNo(t.comment)"><i class="zmdi zmdi-thumb-down"></i> <span class="btn-label">Nein</span></a>
            </div>
        </div>
    </div>
    <div ng-if="t.isRequest">
        <ul class="comment-list list-unstyled">
            <li ng-repeat="response in t.responses" class="comment-item list-item">
                <art-chat-comment comment="response"></art-chat-comment>
            </li>
        </ul>
    </div>
</div>