<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="ini-parser" version="2.3.0" targetFramework="net45" />
  <package id="TinyVirtuoso" version="0.3.25" targetFramework="net45" />
  <package id="TinyVirtuoso.osx" version="7.2.2" targetFramework="net45" />
</packages>